[2016-06-29 08:16] FallenRiteMonk opened #11 "Duplicate handling"
Hy,

would it be possible to handle duplicates same as in the original ng-chips?
In the original the input filed gets cleared if a duplicate input is entered.

Further more I once found such a input that also made the corresponding duplicate blink once in a different color, to show that such a tag has already been entered. Such a feature would also be great I think.

[2016-06-29 09:00] FallenRiteMonk opened #12 "NgFormControl Error"
Hy,

I have problems trying to implement this component.

The error i get is the following:
[code]

I am using the new Angular Form module ```"@angular/forms": "0.1.1"```, but I don't know if that is relevant.

Thanks for your help,
FallenRiteMonk

[2016-06-29 13:46] Gbuomprisco commented on #11
Hi @FallenRiteMonk, that would be quite good to have, it's true. I'll be adding it soon!

[2016-06-29 13:47] Gbuomprisco commented on #12
HI @FallenRiteMonk, can you please post here which Angular version you're running? This should be working fine with the latest RC3 (and RC1). I know it's going to be deprecated, so I need to change this anyway. Thanks for posting the issue 👍

[2016-06-29 14:16] FallenRiteMonk commented on #12
These are my dependencies regarding angular:
[code]
If you need anything else or some help, let me know!

[2016-06-29 14:18] FallenRiteMonk commented on #11
If you would add some contribution description I would be pleased to contribute by my self.

[2016-06-29 14:23] Gbuomprisco commented on #12
Your versions seem correct! The problem is that the ng2-input-tag component is using a deprecated version of ngFormModel. Maybe disaling "@angular/forms" in the short term would work but I don't recommend it.

I'll to update the form to use the new version with @angular/forms. By looking at the documentation, it's not a big change, so will do it soon 👍

[2016-06-29 14:24] Gbuomprisco commented on #11
@FallenRiteMonk feel free to submit a PR with, your contribution is absolutely welcome. At the moment my contribution description would be to just write Angular 2 that adheres with tslint (already configured in the package).

[2016-06-29 14:25] FallenRiteMonk commented on #12
Thank you! :+1:

[2016-06-29 20:17] Gbuomprisco commented on #12
Opened a PR https://github.com/Gbuomprisco/ng2-tag-input/pull/13. WIll test and merge

[2016-06-29 20:40] Gbuomprisco commented on #12
PR merged to master. Version 0.1.1 on NPM should fix the issue :+1:

[2016-06-30 08:09] FallenRiteMonk commented on #12
I retried it and now i get the following error:
[code]

[2016-06-30 08:44] Gbuomprisco commented on #12
Hm very strange, didn't encounter this error. Have you configured the app like described in https://github.com/Gbuomprisco/ng2-tag-input#angular-2-configuration-rc3?

[2016-06-30 08:56] FallenRiteMonk commented on #12
Yes

[2016-06-30 09:17] Gbuomprisco commented on #12
Would you mind posting here the bootstrap code? I need a bit of context 👍  I wonder if running the demo works on your end?

[2016-06-30 09:35] FallenRiteMonk commented on #12
This would be my main.js:
[code]

Running the demo runs without any problems.

Since I'm using angular-cli I'll try to rebuild a minimal example and commit it to a github repository so you can try! I'll let you know when I got it done and up! In the main wile if you need any more info, just keep asking.

[2016-06-30 10:02] Gbuomprisco commented on #12
Your config seems just fine. But the minimal example would be much help! :)

[2016-06-30 10:02] FallenRiteMonk commented on #12
Here my example: https://github.com/FallenRiteMonk/tagInputExample

Just install angular-cli: ```npm install -g angular-cli```
install the packages: ```npm install```
and serve the application: ```ng serve``
then navigating to [localhost:4200](http://localhost:4200) will bring you to the site and display the error!

[2016-06-30 10:45] Gbuomprisco commented on #12
I didn't include angular forms in the webpack vendors and therefore the error! Try pulling the latest version (0.1.2). :)

[2016-06-30 10:51] FallenRiteMonk commented on #12
Works fine now thanks :+1:

[2016-06-30 10:51] #12 closed

[2016-06-30 10:59] Gbuomprisco commented on #12
👍

[2016-06-30 15:11] FallenRiteMonk commented on #11
I found a bug, which is somehow related to this.
It can be easily reproduced in you live demo. Just go to the example which has space as separator key. At a tag, for example 'hello' if you then enter 'hello hello' then the tag '@@hello hello' gets added.
Implementing the above described feature would clear the input on pressing the spacebar and no such strange tag could be added.

[2016-06-30 15:55] FallenRiteMonk opened #15 "Flex-wrap issue"
Hy,

I have the issue that adding many tags makes them overflow to the right of the screen. This is because for some reason flex is not wrapping in my example (https://github.com/FallenRiteMonk/tagInputExample) as it is in your live demo. I figured out that adding ```flex-wrap: wrap;``` or ```flex-wrap: inherit;``` to the flex class definition in style.scss fixes the problem for me.
Would it be po

[2016-06-30 17:38] Gbuomprisco commented on #15
Hi @FallenRiteMonk,

I am not sure it's going to be fixed, but I pushed a new version which hopefully works!

[2016-06-30 17:57] FallenRiteMonk commented on #15
Works like a charm. Thanks for your quick fix! :+1:

[2016-06-30 17:57] #15 closed

[2016-07-01 20:42] RamTararam opened #16 "Tag-Input inside 'form' does not render its' tags until input is touched"
Hi. I've noticed some issue in component rendering when I placed `tag-input` inside `<form></form>`. Initial values are not rendered until input is touched in my case.

I've created a [demo](http://plnkr.co/edit/Uos1lUIWJHKqBJBaRUpn?p=preview) that briefly mirrors my original situation.

[2016-07-02 16:24] Gbuomprisco commented on #16
Hi!

I published the version 0.1.5 which should fix this. I updated your demo: http://plnkr.co/edit/ZksPMxG85ZvOA68XzDx2?p=preview

[2016-07-02 16:25] Gbuomprisco commented on #11
As of version 0.1.5 duplicate values entered cause the input to be reset :) The blink behaviour though is would still be very nice to have! I guess I'll do it after completing the autocomplete feature (which requires a new component to be added, ng2-dropdown).

[2016-07-02 16:35] RamTararam commented on #16
Thanks! It is working as expected now

[2016-07-02 16:35] #16 closed

[2016-07-07 08:30] FallenRiteMonk opened #18 "UNMET PEER DEPENDENCY"
Hy,

you have a UNMET PEER DEPENDENCY error in your current version.
Angular forms 0.1.1 requires angular2 version rc.3, but you have rc.4 as dependency.
Upgrading to forms 0.2.0 fixes the dependency issue, but breaks your test, even though everything seems to be working fine.
Downgrading to rc.3 fixes the issue also, without breaking the tests.

[2016-07-07 09:57] Gbuomprisco commented on #18
Hi @FallenRiteMonk, thanks for opening the issue.

Was aware of the problem, I guess the best thing to do will be downgrading Angular for now as I was a bit struck by that tests issues.

[2016-07-07 10:50] FallenRiteMonk commented on #18
I just had a look at the tests issue and I'm a bit confused by the test "TagInput should have 2 tags set by ngModel". Could you please tell me why you are looking at component.value, because if I output it to the console i get the following value "['Javascript', 'Typescript']" and I do not understad what that has to do with the amount of tags.
And if you also have a look at the example you can see

[2016-07-09 13:44] Gbuomprisco commented on #18
Actually I did not! Will have a look, thanks a lot :+1:

[2016-07-10 17:27] Gbuomprisco commented on #18
Should be fixed with version 0.1.6 :)

[2016-07-10 22:24] Gbuomprisco opened #20 "When <tab> is pressed and the last tag is selected, the input should be focused"

[2016-07-10 22:26] Gbuomprisco opened #21 "Add possibility to select tags using an autocomplete dropdown"

[2016-07-11 14:00] karthikkavin opened #22 "How to add tag-input in to angular cli?"
I am new in angular 2 and i used angular cli. Can you advise how to build tag-input.
Thanks.

[2016-07-11 15:32] Gbuomprisco commented on #22
Hi @karthikkavin! Honestly, I have never used angular-cli, but I will give it a try and let you know :)

[2016-07-11 15:34] karthikkavin commented on #22
ok man thanks.

[2016-07-11 15:38] karthikkavin commented on #22
i am new in angular 2 and start to learn.
you use autocomplete text box input?

[2016-07-11 15:56] Gbuomprisco commented on #22
No, it has not been implemented yet but it will soon

[2016-07-18 10:06] #18 closed

[2016-07-21 12:19] #20 closed

[2016-07-23 16:47] #21 closed

[2016-07-24 17:02] djrr94 opened #25 "[Bug] [Seems-fixed] One-way bound '[ngModel]' changes when adding a new tag"
Hello, I think I found a bug.

Imagine that you have tag-input in your form with one-way bound `[ngModel]=myarray`.

Case 1:
Load the page and add a new tag, this tag adds to this one-way bound model. That's not correct behavior. The correct behavior is that tag should only add to form's.value.name, but ngModel should stay unchanged.

Case 2:
Load the page and delete some tag, the ng-model stays u

[2016-07-24 18:34] djrr94 commented on #25
I think I found a fix, I wanted to PR but I haven't found `/dist/ng2-tag-input.bundle.js` file, so I can paste my solution here.

In this file, replace `TagInput.prototype.addItem` function with this:

`TagInput.prototype.addItem = function (isFromAutocomplete) {
	        if (isFromAutocomplete === void 0) { isFromAutocomplete = false; }
	        var item = this.setInputValue(this.form.value.item)

[2016-07-25 00:49] Gbuomprisco commented on #25
Hi! I see the issue, If you want to submit a PR, have a look at ./components/tag-input.ts. That is the source file. Otherwise I'll release a fix soon :)

[2016-07-25 13:23] Gbuomprisco commented on #25
PR https://github.com/Gbuomprisco/ng2-tag-input/pull/26

[2016-07-25 16:42] Gbuomprisco commented on #25
Published a version that should fix this! Let me know :)

[2016-07-26 13:19] wilfredmifsud opened #28 "Rendering thousands of items crashes browser"
I am trying to load 50,000 items via the Model in a for loop to the TAG Input. However this is crashing the browser.

Is there a way how to add bulk items without doing re-bind, re-drawing etc..

I was thinking something like

1. Unbind the model from the TAG
2. Edit the model information (add 50k rows)
3. Re-bind the model to the TAG .. will redraw just once like this.

Please Help

[2016-07-26 13:55] Gbuomprisco commented on #28
Hi @wilfredmifsud!

Honestly I think that rendering that amount of data would crash any component.

You could try to approach the issue differently, though:
- if you update the model's array using a timeout, and progressively add items to to it, the browser should not freeze. Also, for the user it is impossible to actually see 50k items.

[2016-07-26 13:59] wilfredmifsud commented on #28
Thanks for your feedback, I will see if I can do a workaround as you said.

The 50k items will be displayed by means of scrolling :) .. This is the worst case scenario so usually i have 1k rows or so

[2016-07-26 14:00] Gbuomprisco commented on #28
A similar issue (and workaround): http://stackoverflow.com/questions/10344498/best-way-to-iterate-over-an-array-without-blocking-the-ui.

Let me know :)

[2016-07-29 13:03] #25 closed

[2016-07-29 13:04] #28 closed

[2016-07-29 13:10] FallenRiteMonk opened #29 "angular-cli error"
i get the following error when i do a angular-cli production build after upgrading from version 0.1.3 to 0.2.1:

[code]

I dont know if its your problem or not, but if you can somehow fix it I would be pleased.
I'm using angular-cli beta.10

If you need more info just let me know.

Thanks

[2016-07-29 13:15] FallenRiteMonk commented on #22
I have it running using angular-cli beta 10, here is what I did after installing using npm:
add ```'ng2-tag-input/**/**.js'``` to the file `angular-cli-build.js` under vendorNpmFiles.
In the file `system-config.js` add ```'ng2-tag-input':'vendor/ng2-tag-input/index.js'``` to the `const map` and ```'ng2-tag-input': {
    format: 'cjs'
  }``` to the `const packages`
Then just import it as ```import

[2016-07-30 12:58] Gbuomprisco commented on #29
Hi @FallenRiteMonk, I will have a look soon :)

[2016-07-30 12:58] #22 closed

[2016-08-02 18:50] igordeoliveirasa opened #30 "Case Insensitive for autocomplete tags"
First of all: Congratulations! It's a really precious project!!!
And,.. how could I disable case sensitive for autocomplete tags?

Thanks.
Igor

[2016-08-02 19:21] igordeoliveirasa opened #31 "How to use onSelect"
I did it: (onSelect)="onSelect(tag)" and (onSelect)="onSelect()", Although onSelect is being called, the item/tag always comes undefined.

[2016-08-02 19:32] igordeoliveirasa commented on #31
I mixed up,.. sorry. onSelect should be set like: (onSelect)="onSelect($event)"

Thanks!

[2016-08-02 19:32] #31 closed

[2016-08-03 01:45] igordeoliveirasa opened #32 "Dropdown is not getting hide"
Whenever it displays a dropdown and I press tab key so as to loose current field focus, dropdown keeps on being displayed...

[2016-08-03 15:51] igordeoliveirasa commented on #32
It also happens whenever I press "enter key", so as to insert new tag. It keeps on showing..

[2016-08-03 15:59] igordeoliveirasa commented on #32
Do you have any trick so as to do right now in order to release to my customer? Or, do you know when could you guys solve it? Thanks!

[2016-08-03 15:59] igordeoliveirasa commented on #30
Do you have any trick so as to do right now in order to release to my customer? Or, do you know when could you guys solve it? Thanks!

[2016-08-03 16:05] igordeoliveirasa commented on #32
same happens when I backspace clearing the tags. drop down menu keeps on showing..

[2016-08-03 22:31] Gbuomprisco commented on #30
Hi @igordeoliveirasa, thanks for the congratulations!

Unfortunately right now there is no option for doing that.

Most likely there will be no option for doing it in the future, but I may add an output for when a key is pressed in the input, so that you could transform the value of the value entered. Example:
- transform all keys entered to uppercase
- enter items in uppercase

so that they will

[2016-08-03 22:33] Gbuomprisco commented on #32
Hi @igordeoliveirasa. Thanks for opening this. I will probably fix it this weekend.

[2016-08-04 18:57] igordeoliveirasa commented on #32
I thank you so much for the answer!! And congratulations again! Awesome project! It will be the top  of the angular 2 tag input components. You want to bet?

[2016-08-04 18:58] igordeoliveirasa commented on #30
I'm anxious for that!! Thanks!

[2016-08-08 09:50] simoazzo opened #33 "Error: No value accessor for ''"
Hi guys,

I am trying to get ng2-tag-input working but is giving me the following error:
`platform-browser.umd.js:2306 Error: No value accessor for ''`

I have done exactly step by step as explained in github.

this is my code:

[code]

[code]

Any ideas and help will be much appreciated, thanks.

Kind Regards

[2016-08-08 15:48] Gbuomprisco commented on #33
Hi @simoazzo!

A few questions:
- which Angular version are you running?
- did you configure Angular like this https://github.com/Gbuomprisco/ng2-tag-input#angular-2-configuration-rc3?

Thanks

[2016-08-11 10:48] simoazzo opened #34 "Validation required on ng2-tag-input"
Hi guys,

How can I set a required validation on the ng2-tag input field please? I mean that when user tries to submit the form and nothing has been selected, form will not be submitted.

Thank you for your help.

Kind Regards

[2016-08-11 11:21] sbahmani opened #35 "angular2 rc5 integration"
How to use in angular2 rc5? bootstrap model has been changed.
How to use with NgModule?

[2016-08-11 14:48] Gbuomprisco commented on #34
Hi, I'll add an example to the Demo soon :)

[2016-08-11 15:02] Gbuomprisco commented on #35
Hi @sbahmani, I still need to update this to Angular RC5, I hope to do it soon

[2016-08-11 15:05] Gbuomprisco commented on #33
Hi @simoazzo, did you solve this?

[2016-08-11 15:06] sbahmani commented on #35
Hi @Gbuomprisco , Thank You. I hope you do it soon :)

[2016-08-11 15:13] simoazzo commented on #34
Thank you. Let me know the link then please.

Thanks

[2016-08-12 19:44] #33 closed

[2016-08-13 11:35] Gbuomprisco commented on #34
Hi @simoazzo,

I added a demo to show validation using the component http://www.webpackbin.com/Vy7PtkdYW.

In reality, it does not much change compared to any other component in Angular 2. You may always want to use Model driven forms as ng2-tag-input as of now returns an empty array when no tags are entered, and therefore 'required' won't work as expected.

The example mimics a required functiona

[2016-08-13 11:35] #34 closed

[2016-08-13 12:46] simoazzo commented on #34
Hi Gbuomprisco,

Thank you

Do you mind asking that if I want remove the disabled button feature,  does the form still not alllowed to be submitted?

[2016-08-13 12:50] Gbuomprisco commented on #34
Hi @simoazzo,

Yes, normally the submit() function would still not fire :)

[2016-08-14 17:30] simoazzo commented on #34
Hi @Gbuomprisco,

Thank you for your help.

Apart from this, regarding something related to Angular 2, may I ask you how I can accomplish a submit form with three buttons? How can I know which button was submitted? I have this form as a child component and need to know which button was submitted in the parent component?

I am asking because I cannot find help regarding this :/

Thank you in advanc

[2016-08-14 19:19] Gbuomprisco commented on #35
HI @sbahmani,

I published the version 0.2.2, with examples on integration with RC.5. From your point of view it doesn't change much, you only need to bootstrap the app in the new way and import the component in the container component.

The files in /demo show how to do it anyway, or the demo on Webpack Bin you find in the README.md 👍

[2016-08-14 19:20] Gbuomprisco commented on #32
Hi @igordeoliveirasa,

I published the version 0.2.2 and should fix this :)

[2016-08-14 19:20] #32 closed

[2016-08-14 19:21] Gbuomprisco commented on #30
Hi @igordeoliveirasa,

I published the version 0.2.2 and now case it is case insensitive :)

[2016-08-14 19:21] #30 closed

[2016-08-14 19:53] Gbuomprisco commented on #34
Hi @simoazzo,

You can still listen to (click) events on your buttons. For example (this might not be fully functioning, but it gives you a rough idea).

`
class MyComponent {
   submit() {
   // action after submit
   //
   }

   click(event) {
      this.clickedButton = event.target;
      // event.target is the button clicked
      // do some action and then reset
      this.clickedButton = und

[2016-08-14 20:43] sbahmani commented on #35
Hi @Gbuomprisco , Thank you very much.

[2016-08-14 21:54] sbahmani commented on #35
[code]

[2016-08-15 07:54] Gbuomprisco commented on #35
Hi, that should be fixed now :)

[2016-08-15 09:17] simoazzo commented on #34
Hi @Gbuomprisco

I tried like this.. but the value set in the click event does not restored on the submit event.

First the click event fired and then the submit but the button name for example does restored to be sent eventually to the parent component. :/

[2016-08-15 09:31] sbahmani commented on #35
Thank you @Gbuomprisco , The warning disappear but still there is a error:
[code]

I think in `ng2-dropdown.bundle.js` at this code ` [@fade]=\"state.toString()\"` state is null.

[2016-08-15 09:34] Gbuomprisco commented on #35
Thanks @sbahmani, I'll have a look soon. Hopefully this doesn't block you?

[2016-08-15 09:35] Gbuomprisco commented on #34
Hi @simoazzo,

I thought that, unfortunately. It's not the greatest thing to do, but you could wrap your submit function in a timeout and push it next into the event loop. Hopefully it will work.

[2016-08-15 09:37] sbahmani commented on #35
Thanks @Gbuomprisco , No it's OK but I confused with my errors and the error.

[2016-08-15 09:43] simoazzo commented on #34
Hi @Gbuomprisco

Mm. I did not understand you exactly what are you suggesting. Can you please take patience and explain it to me by showing me an example pls @Gbuomprisco ? And its the only solution?

Thank you in advance

Kind Regards

[2016-08-15 09:50] Gbuomprisco commented on #34
Something like this. I have not tried yet so I am not sure it will work, but give it a try:

[code]

[2016-08-15 09:53] simoazzo commented on #34
I will try it out and let you know tomorrow.

Thank you @Gbuomprisco

[2016-08-16 07:04] simoazzo commented on #34
Thanks. It worked :)

[2016-08-16 07:15] simoazzo commented on #34
Hi @Gbuomprisco

I am trying like this:

[code]
But the event.target is sometimes working but sometimes, the even.target will be undefined... :/

[code]

Any idea why pleasE?

Kind Regards

[2016-08-16 12:00] sbahmani commented on #35
Sorry, It's not your bug, the bug occurred for  other RC5 change.
Thanks.

[2016-08-16 12:07] Gbuomprisco commented on #35
Cool, no worries 👍

[2016-08-16 12:07] #35 closed

[2016-08-23 11:32] moohkooh opened #38 "Error during initialization Angular2.RC4"
i adding the tag-input into my application. On init i getting an error:

*Can't bind to '@fade' since it isn't a known native property.*
Im running on Angular2 RC4.
My HTML is simple (copied from example page)
[code]

My Component:
[code]

Error:
[code]

[2016-08-23 16:10] Gbuomprisco commented on #38
Hi @moohkooh!

The latest version of this component is only compatible with Angular RC.5. If you want to use it with the RC.4 you may want to downgrade it to the version 0.2.2/0.2.1.

I obviously recommend to upgrade to Angular 2 to RC.5 :)

[2016-08-24 07:51] moohkooh commented on #38
make sense 👍  Today i upgrade to RC.5. I needed to add a fromGroupName as attribute, but on autocomplete i getting an exception and the tags are on the middle of the control (is there maybe a problem with bootstrap?)

 1. Autocomplete error msg:

[code]

2. Screenshot: https://i.imgsafe.org/d51b04e6e1.png

[2016-08-24 12:41] Gbuomprisco commented on #38
@moohkooh that's interesting. Sorry, I did not understand if you did update or you are going to do it? :)

Can you paste here your package.json dependencies? I'll be able to understand a little more.

Thanks!

[2016-08-24 13:10] moohkooh commented on #38
I upgraded my app to Angular2.RC5 :)

my package.json
[code]

[2016-08-24 13:33] Gbuomprisco commented on #38
Apparently this is not related to the upgrade. Can you post some of your code(template and controller)?

[2016-08-26 07:29] Glebby opened #39 "Getting error: TS2304: Build:Cannot find name 'require'.Cannot find name 'exports'."
The project won't compile:

1>C:\Project\node_modules\ng2-tag-input\index.ts(1,18): error TS2304: Build:Cannot find name 'require'.
2>C:\Projects\node_modules\ng2-tag-input\index.ts(3,1): error TS2304: Build:Cannot find name 'exports'.

I am using RC5. See my  package.json

============

{
  "version": "1.0.0",
  "name": "project",
  "private": true,
  "dependencies": {
    "@angular/common": "2.0

[2016-08-26 09:54] Gbuomprisco commented on #39
Hi @Glebby!

The files are already compiled in the /dist folder. It's strange the compiler is compiling index.ts. is your tsconfig.json excluding the node_modules folder?

If that doesn't help, I'll try setting up a system.js configuration (as I have never used it with this, only Webpack) and paste here a working configuration. :)

[2016-08-26 16:20] sspringer opened #40 "Keyboard Keys"
What do these values correspond to?  Are they ASCII values?  Are they keyboard codes?  Are they platform specific?

How would I go about making a comma a code to separate the tags?

Any help would be appreciated!  Thanks!

[2016-08-26 16:23] Gbuomprisco commented on #40
Hi @sspringer! They correspond to keyboard keys. See https://css-tricks.com/snippets/javascript/javascript-keycodes/

[2016-08-26 16:41] sspringer opened #41 "Error when attempting to use the autocomplete function"
I've run into an issue with the control on my form when attempting to use the autocomplete function.  The error below is thrown whenever a key has been pressed in the control.

I set a break point on the first line of the handleKeypress method in ng2-dropdown-menu.ts (line 106).  When that break point is hit, `this` is undefined, so `this.state` is undefined.

`EXCEPTION: TypeError: Cannot read pr

[2016-08-26 17:17] sspringer commented on #40
Thanks!  That's what I needed!

[2016-08-26 17:54] Gbuomprisco commented on #40
Cool:)

[2016-08-26 17:54] #40 closed

[2016-08-27 13:44] Gbuomprisco commented on #41
Hi @sspringer, I just published the version 0.2.4. It should fix this, let me know otherwise :)

[2016-08-27 13:44] Gbuomprisco commented on #38
Hi @moohkooh, I just published the version 0.2.4. It should fix this, let me know otherwise :)

[2016-08-28 10:01] Glebby commented on #39
Hi, yes, node_modules are excluded

{
	"compilerOptions": {
		"emitDecoratorMetadata": true,
		"experimentalDecorators": true,
		"module": "commonjs",
		"noEmitOnError": true,
		"noImplicitAny": false,
		"outDir": "../wwwroot/admin/appScripts/",
		"removeComments": false,
		"inlineSourceMap": true,
		"target": "es5",
		"moduleResolution": "node"
	},
	"exclude": [
		"node_modules",
		"typings",
		"

[2016-08-28 10:11] Gbuomprisco commented on #39
Glad it compiles now! I published a new version (0.2.4) which fixes that issue. It was related to another package. Let me know 👍

[2016-08-29 08:40] Glebby commented on #39
It is working now! thank you. However there is another issue now related to case sensitivity. I will post it as another issue to not mix things up.

[2016-08-29 08:40] #39 closed

[2016-08-29 08:42] Glebby opened #43 "The autocomplete is not working with uppercase"
My autocomplete array is ["Item1", "item2", "item3"]
When I type either "i" or "I" the popup  always displays only item2 and item3.

[2016-08-30 18:14] cyrilrbt commented on #41
@Gbuomprisco 0.2.4 does fix this error for me, but the dropdown doesn't show up

[2016-08-30 18:23] cyrilrbt commented on #41
Nevermind... z-index issue :)

[2016-08-30 21:29] #41 closed

[2016-08-30 21:29] #38 closed

[2016-08-30 21:35] Gbuomprisco commented on #43
https://github.com/Gbuomprisco/ng2-tag-input/pull/44

[2016-08-30 21:39] Gbuomprisco commented on #43
Hi @Glebby , version 0.2.5 should fix it :)

[2016-08-31 08:00] FallenRiteMonk opened #45 "console output error"
Hy,

I get the following error thrown to my console, but as far as I have quickly tested, everything seems to work!
[code]

[2016-08-31 08:37] FallenRiteMonk opened #46 "focus loss addition"
Hy,

would it be possible to add the current input to the tags if the input looses focus?
Example:
If I go to the life demo, select the first tag input and start typing, then (without clicking enter) use the mouse to jump to the second tag input, the tag I entered into the first is not added to the tag list.

I don't know if this is intended, but I think this should be changed, because then one co

[2016-08-31 10:13] FallenRiteMonk commented on #29
Angular is changing to use webpack where this error does no longer appear.
I tested this with the angular-cli@1.0.0-beta.11-webpack.8.
Even though this is not yet an official beta release, it works, and will for sure come sooner or later, therefor I think this issue can be closed!

[2016-08-31 10:19] Gbuomprisco commented on #46
Hi @FallenRiteMonk!

In general I follow the same behaviour as https://material.angularjs.org/latest/demo/chips, so yes it is intended that the chip is not added. If you want to add <tab> as a key to add new tags, you could add it to the separatorKeys array (see API) and then press tab again to jump to the next input.

Does it make sense? Thanks for the suggestion :)

[2016-08-31 10:19] Gbuomprisco commented on #45
Interesting, seems to be a typings issue. Can you tell me which version is it? Thanks!

[2016-08-31 10:22] FallenRiteMonk commented on #45
its version 0.2.5

[2016-08-31 10:24] FallenRiteMonk commented on #46
It partly makes sens yes! I understand that I could add the tabulator to the separatorKeys array, buth what if one uses the mouse to navigate around?

[2016-08-31 12:06] Gbuomprisco commented on #46
I think it's how most similar inputs work and probably how most people would expect it to work :)

What I can do is to add output events to the input-tag - onBlur and onFocus, which return the current value of the input. In this way, you can subscribe to the event and push the value of the input to the model. I had already thought of these events which can be useful in many ways.

[2016-08-31 14:17] #43 closed

[2016-08-31 14:18] Gbuomprisco commented on #29
Cool thanks :)

[2016-08-31 14:18] #29 closed

[2016-08-31 15:13] cyrilrbt opened #47 "Add an option to specify dropdown placement"
I have a TagInput at the bottom of my page, which means the dropdown for autocomplete is mostly hidden, I can only see the top row. It would be great to have an option to choose its placement.

Temporary solution is to move it in an AfterViewChecked callback, which is not great.

[2016-08-31 16:46] Gbuomprisco commented on #47
Hi @cyrilrbt. I need to update another package (https://github.com/Gbuomprisco/ng2-material-dropdown), so I opened an issue in there.

I guess the right way to fix it is to detect the position of the input in the page and move the dropdown to the top of the input in this case. Would that work for you?

Cheers

[2016-08-31 16:48] Gbuomprisco opened #48 "Add onBlur and onFocus events"
Allow functionality explained in https://github.com/Gbuomprisco/ng2-tag-input/issues/46

[2016-08-31 16:48] #46 closed

[2016-08-31 16:49] cyrilrbt commented on #47
Yeah, if you could do it automatically, that would be even better. Essentially if it's not entirely in view, it should be moved to the opposite side.

[2016-09-01 10:11] sbahmani opened #49 "angular2 rc6 integration (systemjs)"
Would you please upgrade to support angular-rc6?
[code]

[2016-09-01 13:03] Gbuomprisco commented on #49
Hi @sbahmani,

the Angular team is moving fast! Will do at some point this or next week 👍

[2016-09-01 13:55] sbahmani commented on #49
Hi @Gbuomprisco ,Thanks :+1:

[2016-09-02 19:32] FallenRiteMonk opened #50 "invalid message"
Is it somehow possible to display a error message if the entered tag is not valid?

Like for example in the demo with the custom validator show a message that a tag must start with a @ if the users enters a tag that doesn't.

Or can I access the form validation status somehow to show/hide a message accordingly?

Thanks

[2016-09-02 21:19] Gbuomprisco commented on #50
Hi @FallenRiteMonk!

Yeah I like that, will surely look at it.

[2016-09-03 14:28] Gbuomprisco commented on #49
Hi!

I just published the new version. I haven't tested it yet, but hopefully works!

[2016-09-04 07:18] sbahmani commented on #49
I use systemjs and not work :
[code]

systemjs:
[code]

[2016-09-04 14:07] FallenRiteMonk commented on #45
with the new version 0.2.6 I get the following errors:
[code]

[2016-09-04 16:43] #48 closed

[2016-09-05 18:19] Gbuomprisco commented on #49
Hi @sbahmani, can you retry with the new version please? Thanks!

[2016-09-05 18:20] Gbuomprisco commented on #45
Hi @FallenRiteMonk, can you retry with the new version please? Thanks!

[2016-09-05 19:16] FallenRiteMonk commented on #45
Works great thanks!

[2016-09-05 19:16] #45 closed

[2016-09-05 20:16] sbahmani commented on #49
Hi @Gbuomprisco , Thanks. There is a little problem, in index.ts file please change `const components = require('./ng2-tag-input.bundle.js');` to `const components = require('./dist/ng2-tag-input.bundle.js');` and everything is OK.

[2016-09-06 09:00] mlessio opened #52 "Broken minification with UglifyJS"
Hi, @Gbuomprisco !

With the new RC.6 the minification for production enviroments is broken.
If i try to run UglifyJS on my sources with webpack, it gives me:
`
ERROR in app.js from UglifyJs
SyntaxError: Unexpected token punc «,», expected punc «:» [./~/ng2-tag-input/dist/ng2-tag-input.bundle.js:543,0]
`

I think it is due to the fact that the bundles are not compiled in commonjs.

[2016-09-06 09:14] Gbuomprisco commented on #52
Hi @mlessio, thanks, I'll have a look!

[2016-09-06 10:04] mlessio commented on #52
@Gbuomprisco i don't think it is related to this issue. It was preventing to import modules in RC.5, but it is now solved in RC.6.

I have also tried to compile your module in commonjs modifying the webpack configuration but the issue is still here.

It may be related to the import of Ng2Dropdown and its related libraries?

Because the error is in this chunk of code:
`
	module.exports = {
	    Ng2

[2016-09-06 10:13] Gbuomprisco commented on #52
I see. Unfortunately that package is used by the autocomplete function. I'll try to fix it this evening :) in the meantime you can try to stick with the previous version if that works for you?
Cheers, Giancarlo

[2016-09-06 10:25] mlessio commented on #52
The previous version is not working under RC.6, and unfortunately i have already migrated my whole project to RC.6 specs.

I have forked your repo and i have dropped the Ng2Dropdown component since i am not using the autocomplete, and i can now tell that this module is the problem.
Without it the tag-input works like a charm, so i'll wait until you fix it, by now i can use my modified version of t

[2016-09-06 10:26] Gbuomprisco commented on #52
Yeah that's great :) 👍

[2016-09-07 15:48] eromero90 commented on #52
Hello @Gbuomprisco!

I'm experiencing the same error. Is there a solution for that error?

Thanks!

[2016-09-07 17:54] Gbuomprisco commented on #52
Released a new version, hopefully it works! I tried with angular-seed minified and it seemed to be OK.

[2016-09-07 18:02] eromero90 commented on #52
@Gbuomprisco I'm going to try building my app again and I'll let you know if the new solution works. Thanks!

[2016-09-07 18:40] eromero90 commented on #52
Hi @Gbuomprisco, It's working for me now, thanks!

[2016-09-07 18:44] Gbuomprisco commented on #52
Awesome :)

[2016-09-07 21:04] Gbuomprisco commented on #49
Hi @sbahmani, does it work with the new version?

[2016-09-08 10:41] mlessio commented on #52
@Gbuomprisco It works! Great! 👍

[2016-09-08 10:41] #52 closed

[2016-09-08 18:22] Gbuomprisco commented on #50
https://github.com/Gbuomprisco/ng2-tag-input/pull/53

[2016-09-08 18:23] Gbuomprisco commented on #50
1 error:

![screen shot 2016-09-08 at 19 19 02 2](https://cloud.githubusercontent.com/assets/3512197/18361392/857f5ca6-75f9-11e6-985b-4e0b23b906e8.png)

2 errors:

![screen shot 2016-09-08 at 19 19 06 2](https://cloud.githubusercontent.com/assets/3512197/18361393/8594b02e-75f9-11e6-8017-90d7e5fd483c.png)

[2016-09-08 18:28] Gbuomprisco opened #55 "Update Webpack Bin Demo to latest version"

[2016-09-08 18:30] Gbuomprisco commented on #50
I released a new version with these updates. Hopefully it's how you wanted it :)

[2016-09-08 21:16] FallenRiteMonk commented on #50
looks great thanks! I'll implement it as soon as possible thanks!

[2016-09-08 21:34] #50 closed

[2016-09-09 09:41] FallenRiteMonk commented on #50
Works great thanks!

[2016-09-09 09:47] FallenRiteMonk commented on #55
How would that be done?
I mean I can edit the example on webpackbin and see the changes, but will everybody else also see all those changes? will they persist? or can I somehow propose a submit to you that you can then accept?

[2016-09-09 09:58] Gbuomprisco commented on #55
Unfortunately it's not possible to propose changes, but when you change something and then you save your "bin", it will create a new persistent URL that you can share. So the old example will remain intact. :)

[2016-09-09 11:30] FallenRiteMonk commented on #55
Here is the new version:
http://www.webpackbin.com/4kF45Fio-

The only thing that you have to fix is the last example. The validation of the minimum amount of tags doesn't work!

[2016-09-09 11:42] Gbuomprisco commented on #55
HI @FallenRiteMonk, thanks for this!

I update the example for the form http://www.webpackbin.com/VyLKAtssb, will update the readme now. Unfortunately it seems the template is not working... :)

[2016-09-09 11:42] #55 closed

[2016-09-09 11:43] Gbuomprisco opened #56 "Custom template seems to be broken"
Probably related to latest integrations.

[2016-09-09 12:17] FallenRiteMonk commented on #55
No problem, after all the quick replies, fixes and features you made!

[2016-09-14 12:19] ckemmler opened #57 "make the borders optional"
This is purely a styling issue. I can't think of a way that I can override the css styling on the component to remove the input borders that IMO make it unnecessary big. Besides, in my app, the close buttons appear slightly misplaced (http://pasteboard.co/2YSDQYkK1.png) which I suspect is due to some interaction with my own stylesheet. Problem is, short of forking the entire component, I don't kno

[2016-09-16 09:37] sumitmali-tudip opened #58 "rl-tag-input max limit"
How can we set max limit of <rl-tag-input> tags.

[2016-09-17 05:34] jculverwell opened #59 "Does not work with Angular-CLI Final"
Thank you for an excellent project.

Unfortunately, it looks like it isn't working with Angular-CLI final.  I have created a repo here where you can see the issue https://github.com/jculverwell/NgTagsInputWithAngularCLIFinal

Looks like a problem with Zone.js.  Not sure if you adjust your project to avoid this issue or if it is a zone.js issue.  I will raise with the zone.js repo as well.

[code]

[2016-09-17 13:30] Gbuomprisco commented on #58
Hi @sumitmali-tudip, you can set the attribute [maxItems]. See the demo :+1:

[2016-09-17 13:30] #58 closed

[2016-09-17 13:30] Gbuomprisco commented on #59
I'll have a look :)

[2016-09-17 13:31] Gbuomprisco commented on #57
HI @ckemmler, are the tags too big or the input (the padding between the tags and the input maybe)?

[2016-09-17 16:48] #49 closed

[2016-09-17 17:20] jculverwell commented on #59
Thank you

[2016-09-18 11:07] Gbuomprisco commented on #59
Hi @jculverwell, can you try with the new version I released? I tried your repo and all was working fine. I only had to also install `typings`. Let me know :)

[2016-09-18 18:47] jculverwell commented on #59
Hmm, still didn't work.  Same error.  I'm guessing either something is screwed on my machine or maybe its platform specific  Are you using windows or Mac?  I'm on WIndows 10.  Thanks

[2016-09-19 08:39] Gbuomprisco commented on #59
I tried on Linux. Will try today on a Mac :)

[2016-09-19 22:10] Gbuomprisco commented on #47
Hi @cyrilrbt, sorry for resolving this so late, but the new version should allow the behaviour you mentioned :) It's not perfect yet, but the dropdown will at least show up in the screen

[2016-09-19 22:10] #47 closed

[2016-09-19 22:42] Gbuomprisco opened #61 "Migrate to Typescript 2 beta and @types"

[2016-09-21 14:00] cyrilrbt commented on #47
Thanks!

[2016-09-22 15:03] JonnyBGod commented on #61
and please remove npm postinstall script as it breaks npm install if your not using typings anymore.

[2016-09-24 09:56] Gbuomprisco commented on #61
Hi @JonnyBGod, this is now released, let me know if it doesn't work :)

[2016-09-24 09:56] #61 closed

[2016-09-27 13:00] Gbuomprisco opened #63 "Include more examples in README"

[2016-09-27 13:31] #63 closed

[2016-09-29 07:13] hmtai6 opened #64 "Cannot find name 'require'. in index.ts"
Thank you, the project is excellent.

I encounter a problem during compilation.

[default] /client/node_modules/ng2-tag-input/index.ts:1:20
    Cannot find name 'require'.
[default] Checking finished with 1 errors

Is there anything i miss in my node modules ?

[2016-09-29 09:56] Gbuomprisco commented on #64
Hi @hmtai6, thanks!

It seems related to the typings settings. Can you post here your the deps and dev-deps n your package.json? I'll check out the versions.

[2016-09-29 13:28] FallenRiteMonk opened #65 "Error with angular-cli and AoT"
I get the following error when i try to build/serve my project using angular-cli beta 16 and ng2-tag-input module version 0.3.4 with the --aot option:

[code]

[2016-09-29 17:42] n0mid opened #66 "material_chip"
Have you support material_chip?

When I use material_chip and add [(ngModel)] I got next error:
`No value accessor for form control with unspecified name attribute`

I used it by:
`<div materialize="material_chip" [(ngModel)]="tags"></div>`

[2016-09-29 17:44] #66 closed

[2016-09-29 18:14] Gbuomprisco commented on #65
Hi @FallenRiteMonk, can you try with the version 0.3.6? let me know :)

[2016-09-29 18:14] Gbuomprisco commented on #56
Fixed in 0.3.5

[2016-09-29 18:14] #56 closed

[2016-09-29 18:14] Gbuomprisco commented on #57
Should be done in 0.3.5 with the new themes (or open a PR for a new nicer theme) :)

[2016-09-29 18:14] #57 closed

[2016-09-30 01:27] hmtai6 commented on #64
The following is my package.json, thank you

{
  "name": "client",
  "version": "0.0.0",
  "license": "MIT",
  "angular-cli": {},
  "scripts": {
    "start": "ng serve",
    "lint": "tslint \"src/**/*.ts\"",
    "test": "ng test",
    "pree2e": "webdriver-manager update",
    "e2e": "protractor",
    "build.prod": "ng build --base-href /admin/   --target=production ",
    "build.dev": "ng build --

[2016-10-02 14:10] FallenRiteMonk commented on #65
fixed the problem thanks!

[2016-10-02 14:36] FallenRiteMonk commented on #65
I still cant test if it completely works due to some other problems i have, but i found this! maybe have a look at it:
https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad#.t901jn4lz

[2016-10-03 11:45] dverbovyi opened #68 "How to pass an array of object to autocomplete and specify the property to display?"
Hi,

Thank you for your hard work. The component is very nice and simply.

But I faced with the next requirement on my project to pass an array of object inside of [autocompleteItems] and specify a property to display/search like this:

`<tag-input
    [onlyFromAutocomplete]="true"
    [autocompleteItems]="[{name: 'Item1', id: 1}, {name: 'Item2', id: 2}]"
    [autocompleteDisplayProperty]="'name'"

[2016-10-03 12:41] Gbuomprisco commented on #68
Hi @dverbovyi, unfortunately that is not possible.

Unless you need to search by the id value, you could though map the array and only pass the names to the component?

Ex
[code]

[2016-10-03 12:53] dverbovyi commented on #68
I know have to grab and pass the names. Actually, it's not what I need.

I need to catch id of item inside of `(onAdd)="onAdd($event)"`. Not the string only

[2016-10-03 13:17] Gbuomprisco commented on #68
I see, unfortunately at the moment is not supported, but I guess I'll get on it at some point cause I see the need 👍

[2016-10-04 05:48] Fagertveit opened #69 "SystemJS builder error"
Hi. and thank you for bringing this awesome module to angular 2.

I'm having some problems when I try to build my application with the Systemjs builder, it seems like there's some define errors when importing the module to the build process. I am able to use the module during development (typescript compiles correctly and such) but when I try to make a build it throws the following error:

I've te

[2016-10-04 06:43] wolfgang-lausenhammer opened #70 "Provide own getMatchingItems"
Hey,

I was looking at ng2-tag-input as a replacement for ng2-select.
Your library seems like the perfect match for us. The only option I'm missing right now is to specify my own getMatchingItems function.
In our use case, we need not only provide beginning of word matching, but also return items that match in the middle of the word (so not really an autocomplete functionality, but more a simple s

[2016-10-04 09:32] Gbuomprisco commented on #69
Hi @Fagertveit, thanks, I'll have a look. SystemJS is giving me a lot of headaches lately :)

[2016-10-04 09:35] Gbuomprisco commented on #64
Hi @hmtai6, can you try with version 0.3.6?

[2016-10-04 10:37] Gbuomprisco commented on #70
HI @wolfgang-lausenhammer,

I believe your points make sense in general, so I am adding those behaviours as default for the library. I am not sure it will fully fill your needs, but in case I guess it's possible to add custom matching.

PR https://github.com/Gbuomprisco/ng2-tag-input/pull/71

[2016-10-05 14:28] toxa16 opened #72 "CSS conflict"
There are some CSS class names in the component like "tag", which may conflict with external libraries' CSS, e.g. Bootstrap (there is also a "tag" class). Eventually your "tag" class dominates over the Bootstrap's one so it looks pretty disgusting.

I recommend you to edit your CSS class names adding no-conflict prefixes, for example:
[code]
And even better yet, add the possibility to turn off a c

[2016-10-05 14:52] Gbuomprisco commented on #72
Hi @toxa16,

As far as I know the style should not leak as it uses Shadow DOM emulation. I'll try to reproduce

[2016-10-05 17:11] tmtrung opened #73 "Failed to npm start"
I say an error when I execute "npm start":
[1] 16.10.06 00:08:21 404 GET /node_modules/ng2-tag-input/dist/dist/modules/ng2-tag-input.module.js
[1] 16.10.06 00:08:21 404 GET /node_modules/ng2-tag-input/dist/dist/modules/components/tag-input.js

This is my systemjs.config.js

(function(global) {
  // map tells the System loader where to look for things
  var map = {
    'moment': 'node_modules/momen

[2016-10-05 17:13] Gbuomprisco commented on #73
Hi @tmtrung,

can you try setting the main file like this?
[code]

As you can see in the package.json, the main file changed recently :)

[2016-10-05 17:14] #68 closed

[2016-10-06 09:19] hmtai6 commented on #64
@Gbuomprisco  Thank you so much !!! <3<3

[2016-10-07 18:08] FallenRiteMonk opened #74 "Conflicting seperator and validator"
Hy,

I have the problem that I use space as a seperator (key 32) for my tags, but I also validate against the following regex: ```new RegExp('^[a-zA-Z0-9\\-_]+$')```
The problem now is that due to space not being allowed in my tags the error message below the input appears, instead of the tag (without the space) being added.
I think this should be changed!

thanks and greetings

[2016-10-10 09:29] simoazzo commented on #30
Hi Gbuomprisco,

I have updated to the latest version and case is still sensitive:

  <tag-input  [(ngModel)]="_job.JobClients"
                       [autocompleteItems]="_clientsNames"
                       [onlyFromAutocomplete]="true"
                       placeholder="Client"
                       secondaryPlaceholder = "Choose Client"
                       [autocomplete]="true" ngControl

[2016-10-11 16:50] rosslavery opened #75 "Some small suggestions/fixes"
Hi! First off -- great component, much better than my attempt at a tag input.

I have noticed a few things that I thought I'd mention:
- When using an autocomplete, an option to pre-select the first item would be nice, to prevent the user from having to press down->enter, instead of just enter.
- When using an autocomplete with more than a few items, the dropdown that appears can obstruct the rest

[2016-10-12 10:18] sharmilemurugaraj opened #76 "Facing issue in loading the index.js file"
Hi,
   I am using 0.3.7 version, I couldnot able to load .js file. Can someone please help me on this?

Thanks in advance

[2016-10-13 22:47] jculverwell commented on #59
I completely removed nodejs and tried again today and was still getting the same issue.  I then took a brand new machine, installed windows 10, and nodejs and then angular-cli and this also has the same issue.  Unless I have something really weird going on (or I'm being rally stupid :)) I think I can safely say that this project does not work with angular-cli on Windows 10.  I would love to help r

[2016-10-13 23:29] Gbuomprisco commented on #75
Hi @rosslavery, thanks!

I'll have a look! Most of these bugs belong to another library I've written, but I've actually spent little time on it so far

[2016-10-13 23:29] Gbuomprisco commented on #76
Hi @sharmilemurugaraj,

Can you post more info on how you're loading the library? Thanks!

[2016-10-16 11:52] wolfgang-lausenhammer commented on #70
That's pretty awesome! Exactly what I was looking for. Thanks a lot!
- Wolfgang

[2016-10-16 11:52] #70 closed

[2016-10-18 08:13] simoazzo commented on #73
Hi Gbuomprisco,

recently, I have updated ng2-tag-input and nothing is working now.

localhost/:136 Error: TypeError: core_1.NgModule is not a function(…) "Report this error at https://github.com/mgechev/angular2-seed/issues"

Can I get is solved ?

Thank you

[2016-10-18 08:48] simoazzo opened #77 "Error: TypeError: core_1.NgModule is not a function(…)"
Hi Guys,

I have an issue related to ngs-tag-input. Lately, I have made an update to the latest one.

The following is the package.json:

[code]
Now, I am experiencing an issue where it is telling me the following error when executing the script where  `System.import('app/main')`
`
localhost/:136 Error: TypeError: core_1.NgModule is not a function(…) "Report this error at https://github.com/mgeche

[2016-10-18 09:13] cbjartli commented on #59
I have the same issue, and same setup as jculverwell.

[2016-10-18 09:36] Muthu2020 opened #78 "I have received this below error while using your module in app.module.ts"
SystemJS) Error: XHR error (404 Not Found) loading http://localhost:3001/node_modules/ng2-tag-input/dist/dist/modules/ng2-tag-input.module.js(…)

[2016-10-18 09:44] Muthu2020 opened #79 "How to import your module reference in systemjs.config.js?"

[2016-10-18 15:09] Gbuomprisco commented on #77
Hi @simoazzo,

can you try using the latest version? Also, what Angular version are you using? Thanks

[2016-10-18 15:11] Gbuomprisco commented on #79
Hi @Muthu2020! I guess you should update your configuration to something similar:

[code]

[2016-10-18 15:19] Muthu2020 commented on #79
I will try this solution.Thanks for your idea ASAP.

[2016-10-18 15:25] jaysson opened #80 "Cannot resolve ./icon.html"
I am trying to use this with ionic 2, but getting following error.

[code]

I see `template: require('./icon.html')` in icon.js, but there is no icon.html.

[2016-10-18 22:31] erlopezh opened #81 "Tags with label and value"
Hi,
Is it possible to have tags with a label and value?
First, selecting autocomplete label:

![captura de pantalla 2016-10-18 a las 17 24 50](https://cloud.githubusercontent.com/assets/16109226/19498751/5c7b3342-9558-11e6-8e9a-d3750298ecfb.png)

Second, the tag creates with "Label:Value"

![captura de pantalla 2016-10-18 a las 17 25 15](https://cloud.githubusercontent.com/assets/16109226/19498754

[2016-10-18 23:23] rolandoldengarm opened #82 "onlyFromAutocomplete doesn't work"
See example: http://www.webpackbin.com/VkBmiq1yM

When typing in "Ty", selecting Type Script, it doesn't select it.
Doesn't matter what you do, no value is accepted, even though it's a valid choice.

[2016-10-18 23:35] rolandoldengarm opened #83 "Autocomplete: Dropdown is always shown"
Using autocomplete. When I click on the input, the dropdown shows with ALL possible values.
Debugged the code; I see that it's calling getMatchingItems with an empty string:

![image](https://cloud.githubusercontent.com/assets/14539000/19500309/601ae146-95f8-11e6-8e9e-89499cfda694.png)

Not sure why, but I can't replicate it on webpackbin.

The solution is probably simple: Do an empty string check

[2016-10-19 02:00] rolandoldengarm opened #84 "Feature request: Highlighting in auto complete"
It's required by our project that the autocomplete has highlighting, i.e.:
- auto complete values: ['Lorem Ipsum', 'Ipsum Lorem']
- When typing in "ipsu", the text "Ipsu" is marked as bold in the drop down.

To be more precise; it's about this line of code: https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/tag-input.template.html#L67
Instead of just displaying the text, i

[2016-10-19 08:39] philjones88 opened #85 "Feature Request: Populate from HTTP results"
I've searched the docs, demos and issues and strangely no one has requested this that I could see or that it is possible.

Can we provide a method that returns say a bunch of results? Maybe an Observable?

The scenario is that we want a tag input for selecting users, so obviously with a large number of users you don't want to store them client side but do a http request to say `/api/users?term=foo

[2016-10-19 11:21] sharmilemurugaraj commented on #76
Hi @Gbuomprisco ,
    I could able to run the module. Is there any display property, so that only that property can loaded in the autocomplete like in "http://mbenford.github.io/ngTagsInput/documentation/api"

[2016-10-19 16:27] ckemmler opened #86 "systemjs usage issues"
with a `system.config.js` that looks reasonable:

[code]
and
[code]
I get the following errors:
[code]

I tried a whole lot of variations, without success. It seems to be really hard to get the logic of systemjs, btw. Any pointers on module formats and what ng2-tag-input is using?

I'm using:
    "systemjs": "0.19.27",
    "ng2-tag-input": "^0.3.7",

[2016-10-19 22:51] Gbuomprisco commented on #83
Hi @rolandoldengarm,

the reason you can't replicate is that webpackbin is using another version, but another user brought this up so I changed it to be like this instead. I understand users have different thoughts on how this should work, so I will probably set an option with a default being the previous behaviour :)

[2016-10-19 22:53] Gbuomprisco commented on #86
Hi @ckemmler,

can you try

[code]

[2016-10-19 22:55] Gbuomprisco commented on #85
Hi @philjones88,

I want to definitely add this feature.

Given my current workload I may take while: something easy I may do quickly is add an output when the input text changes, so that you can intercept that and send a request to repopulate the autocomplete items. Does that sound sensible?

[2016-10-19 22:59] Gbuomprisco commented on #82
Hi @rolandoldengarm,

I see that bin is using the version 0.3.0. Any reason for that? Otherwise, I tried using the latest version and it appears to be working :)

Also, use [] for sending the attributes autocomplete and onlyFromAutocomplete :) Let me know!

[2016-10-19 23:01] Gbuomprisco commented on #81
Hi @erlopezh, sorry, but not at the moment, but I plan on this being possible, has been asked before.

[2016-10-19 23:03] Gbuomprisco commented on #80
Hi @jaysson,

Not sure how this is happening honestly, I haven't tried it with Ionic. Do you have any minimal repo I can check this on? Thanks

[2016-10-19 23:14] rolandoldengarm commented on #82
Hi @Gbuomprisco I've just used a bin from one of the demos on your site :)
I didn't use [] for onlyFromAutoComplete. That has fixed it. Thanks :)

[2016-10-19 23:14] #82 closed

[2016-10-19 23:15] rolandoldengarm commented on #83
Ah yeah I used the bin from one of the demos. Thanks!
Looking forward to the implementation 👍

[2016-10-20 00:56] rolandoldengarm commented on #86
I'm so happy Angular-CLI switched from SystemJS to Webpack. No need to do anything when adding a new module. Highly recommended.

[2016-10-20 10:09] philjones88 commented on #85
HI @Gbuomprisco

I think that could work, as long as changing the autocomplete items array didn't wipe out selected items.

[2016-10-20 15:56] #86 closed

[2016-10-20 16:12] #79 closed

[2016-10-21 14:24] philjones88 commented on #85
Hi @Gbuomprisco would you be happy to accept a PR with this feature?

I was thinking just another `@Output` and `EventEmitter` plus updating the demo/documentation is what is required?

[2016-10-21 16:27] jonwilkinson opened #87 "Custom templates not working?"
I cant seem to get a custom template to work (currently using v0.3.7).
My template is never being detected and I always get the default one.
I noticed the "custom template" example on the demo page is actually using the default template too.

[2016-10-21 17:04] Gbuomprisco commented on #87
Hi @jonwilkinson!

you're right, something changed in the latest Angular versions and it's not working anymore. I'll look into this

[2016-10-22 21:50] Gbuomprisco commented on #85
Hi @philjones88,

sure, it would great :)

That should be all I guess!

[2016-10-23 20:55] Gbuomprisco commented on #83
Hi @rolandoldengarm,

this should be back to normal now :) If you want the reverse, there's an input

[2016-10-23 21:01] #78 closed

[2016-10-23 21:03] Gbuomprisco commented on #76
Hi @sharmilemurugaraj, unfortunately not at the moment. I do want to support objects as model soon :)

[2016-10-23 21:03] #76 closed

[2016-10-23 21:04] #73 closed

[2016-10-23 21:05] Gbuomprisco commented on #72
I updated the classes and prefixed them with ng2- :)

[2016-10-23 21:05] #72 closed

[2016-10-23 21:06] Gbuomprisco commented on #77
Hi @simoazzo,

I am not sure this is related to the library itself. Much likely you're using a different Angular version/out of date ng2-tag-input.

Please reopen if you still have issues

[2016-10-23 21:06] #77 closed

[2016-10-23 21:08] #64 closed

[2016-10-23 21:13] Gbuomprisco commented on #85
HI @philjones88,

This should be in the latest version now. Feel free to open a PR if you want to change something!

[2016-10-23 21:13] #85 closed

[2016-10-23 21:16] Gbuomprisco commented on #87
Hi @jonwilkinson,

Can you download the new version and check the example at http://www.webpackbin.com/NJy38G8kM?

I think you should see this working now :)

[2016-10-25 07:51] msegers commented on #80
Heya,

got this aswell on a regular webpack project

[code]

[2016-10-25 08:01] msegers commented on #80
So I've been looking at the package. I see no HTML nor CSS. So I guess the npm package is wrong.

![screen shot 2016-10-25 at 10 00 38](https://cloud.githubusercontent.com/assets/3832687/19677507/f1310700-9a99-11e6-8695-fdc35637f24e.png)

[2016-10-25 10:05] toxa16 commented on #72
Alright, you have earned a star from me :)

[2016-10-26 10:56] Gbuomprisco commented on #59
@cbjartli @jculverwell Thanks for looking into this. I think it might be related to the component used for the dropdown if it only happens if autocomplete is set to true. I'll have a further look asap :)

[2016-10-26 12:13] Gbuomprisco commented on #80
Hi @msegers,

very odd, must be something with Webpack maybe. Ill have a look, even though it will be odd without being able to reproduce. A minimal repo/plunker will help a lot!

[2016-10-26 17:21] jculverwell commented on #59
Thank you, if you need a Windows machine to test on I could let you remote into one of mine.

[2016-10-27 12:41] #83 closed

[2016-10-27 12:42] #87 closed

[2016-10-28 10:28] Gbuomprisco opened #90 "Separator keys not working"

[2016-10-31 03:52] ZhangYiJiang opened #91 "Add property to specify id on <input> element"
If it's not too much trouble, it would be very useful to be able to link `<label>` tags to the `<input>` tag. We could of course wrap the whole thing inside the `<label>`, but that's not always possible due to constraints with the layout.

[2016-11-02 15:41] jaysson commented on #90
Any update?

[2016-11-02 18:12] Gbuomprisco commented on #90
Hi @jaysson,

Sorry I'll probably be able to fix it in the weekend

[2016-11-05 13:57] Gbuomprisco commented on #91
Hi @ZhangYiJiang,

This is now possible with the latest release :) The property is `inputId`.

[2016-11-05 13:57] Gbuomprisco commented on #90
Hi @jaysson,

This should be fixed with the latest release :)

[2016-11-05 13:57] Gbuomprisco commented on #84
Hi @rolandoldengarm,

This should now be working with the latest release :)

[2016-11-05 17:11] ZhangYiJiang opened #94 "User can crash autocompleting tag inputs with malformed regex expressions"
At https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/pipes/highlight.pipe.ts#L12, the code passes user input directly into the `RegExp` constructor. If the user were to input something that causes the resulting regex to be malformed, the constructor will throw an exception, and this will crash the entire application. I have reproduced this issue using the demo tag input u

[2016-11-05 18:24] Gbuomprisco commented on #94
Hi @ZhangYiJiang,
thanks for spotting this, I'm releasing a fix :)

[2016-11-05 18:24] #91 closed

[2016-11-05 18:24] #90 closed

[2016-11-05 18:24] #84 closed

[2016-11-07 14:43] wolfgang-lausenhammer opened #96 "Issues selecting elements with Android / iOS"
Hi,
I just tested the component with an Android, an iPhone and an iPad and found a problem there.
When selecting items from the dropdown, all three of them show the same weird behavior.
Clicks on item A selects item B and some items cannot at all be selected. This can be reproduced with the current [webpackbin](http://www.webpackbin.com/VkEgHA8xM).

Do you have a clue why this might happen?

Thank

[2016-11-07 15:11] Gbuomprisco commented on #96
Hi @wolfgang-lausenhammer!

To be honest I had never tried it on mobile. I just tried on my Nexus 5, and except the UI not being really ideal for mobile phones, I haven't found weird behaviours, or maybe I haven't tried hard enough :)

I'll have a deeper look asap. The ng2-material-dropdown package has several issues I need to address in overall.

[2016-11-07 20:29] wolfgang-lausenhammer commented on #96
I was able to reproduce the issue on my desktop Google Chrome, when I enable "Toggle device toolbar" in the developer console. The browser behaves similar to the phones then. Specifically, this issue only appears, when I open a dropdown, scroll down and select an item.
Also, when the margin to the bottom is too low for the dropdown to appear below the element, so the dropdown would be rendered upw

[2016-11-07 21:59] #96 closed

[2016-11-07 22:10] Gbuomprisco commented on #96
Hi @wolfgang-lausenhammer,

Thanks a lot for the PR! It's really helpful.

I just published a version with your fixes for both the components

[2016-11-08 06:40] wolfgang-lausenhammer commented on #96
Well, I think I created a bug, while closing another :-/
`this.button` is undefined, when used in ng2-tag-input. I haven't tested the interaction of the two components. I'll have a look at that in a second.

[2016-11-08 10:40] soyersoyer commented on #65
With the same circumstances, I get this error message:
Error: Unexpected value 'TagInputModule' imported by the module 'SharedModule'

[2016-11-11 23:01] johntzan commented on #69
having the same problem here, also newest version 0.4.4 does not work at all with systemjs.

[2016-11-14 12:59] Gbuomprisco commented on #69
Hi @johntzan,

Can you post here your systemjs config please?Thanks

[2016-11-14 15:55] TakeN0 commented on #69
Having the same issue

`Error on dependency parsing for ng2-tag-input at file:///Users/ej049491/Documents/infinity/node_modules/ng2-tag-input/dist/ng2-tag-input.bundle.js
	Loading dist/tmp/web.module.js
	Loading dist/tmp/main.web.js
	Error: Multiple anonymous defines.
    at ParseTreeTransformer.AMDDependenciesTransformer.transformCallExpression (/Users/ej049491/Documents/infinity/node_modules/sys

[2016-11-14 16:32] johntzan commented on #69
@Gbuomprisco So newest version is working now, i had it looking for dist/index.js (which would cause it to look for dist/dist/ng2-tag-input.bundle.js which does not exist) instead of dist/ng2-tag-input.bundle.js directly. But the builder is giving the exact same error as the other two mentioned on this thread: Error: Multiple anonymous defines

[2016-11-14 18:51] Gbuomprisco commented on #69
I read similar issues at https://github.com/InfomediaLtd/angular2-materialize/issues/115

It seems like it was fixed by adding "format": "global" to the configuration. I have not encountered this issue, I rarely use SystemJS to be honest. Can you try and let me know if this works?

Thanks!

[2016-11-14 20:18] TakeN0 commented on #69
Adding "format": "global" to the configuration let me build but now I run into runtime errors.

`localhost/:79 Error: (SystemJS) Cannot read property 'Component' of undefined
	TypeError: Cannot read property 'Component' of undefined
	    at eval (http://localhost:5555/node_modules/ng2-tag-input/dist/ng2-tag-input.bundle.js:142:16)
	    at Object.module.exports (http://localhost:5555/node_modules/n

[2016-11-16 07:27] sumitdhameja commented on #69
@TakeN0 Just wondering whether the build worked for you, Im getting runtime error after adding "format":"global". Uncaught TypeError: Cannot read property 'Component' of undefined(…).

[2016-11-16 08:45] FallenRiteMonk commented on #65
Just updated to the new version of angular-cli (beta.20-4) in the hope to be finally able to use aot, but i get the exact same error:
Error: Unexpected value 'TagInputModule' imported by the module 'MODULE_NAME'

[2016-11-16 14:34] TakeN0 commented on #69
@sumitdhameja I am seeing the same behavior you are.

[2016-11-23 10:21] zoltanbalog commented on #80
@jaysson & @msegers how do you import this package in your app module? I was get similar error, try to this "import { TagInputModule } from 'ng2-tag-input';"

[2016-11-23 10:24] msegers commented on #80
That's what I tried, when that goes wrong I'm no longer of interest and I
wrote something else.

Anyways Chips should be in material alpha 11 or 12

On Wed, 23 Nov 2016 at 11:21 zoltanbalog <notifications@github.com> wrote:

[2016-11-23 22:02] YoLieR opened #98 "Missing .metadata.json files (Ionic2 integration)"
Hi,

I'm currently trying to integrate the `ng2-tag-input` modul into an Ionic2 project of mine and I encountered some problems doing that.
The problem occures if I want to build the project for the android platform. If I only run it in the browser everything works just fine. If I start an android build with `ionic build android` I get the following error:

[code]

I suspect the problem is that th

[2016-11-24 12:02] Gbuomprisco commented on #98
Hi @YoLieR,

Sure I'll have a look

[2016-11-24 12:24] manilsson opened #99 "Overriding default styles"
Hi!

I'm having problem with styling the default styles of the tag-input. The biggest problem is that all the Css styles are inlined in <styles></style> tag wich means I have to override all of my own style changes with !important.

Currently I use the "minimal" theme, but it would be nice with a theme that doesn't contain any Css rules at all.

/Kind regards
Markus

[2016-11-25 16:02] iredkin commented on #69
+1

[2016-11-27 09:16] rubenCodeforges opened #100 "Files cannot be found"
ERROR in ./~/ng2-tag-input/dist/modules/components/icon/icon.js
ERROR in ./~/ng2-tag-input/dist/modules/components/tag-input.js
Cannot resolve 'file' or 'directory' ./tag-input.style.scss
Cannot resolve 'file' or 'directory' ./tag-input.template.html
Cannot resolve 'file' or 'directory' ./tag-input-form.template.html in

[2016-11-27 09:17] rubenCodeforges commented on #100
I think the problem is in package.json a old version is perhaps installed with npm install

[2016-11-27 19:52] Gbuomprisco commented on #100
Hi @rubenCodeforges,

Sorry I'll need some more information :) Can you paste the stacktrace returned?

[2016-11-28 07:19] henri-ihalainen commented on #100
Check your import in app.module. It should be: import { TagInputModule } from 'ng2-tag-input';

[2016-11-28 07:45] rubenCodeforges commented on #100
@henri-ihalainen @Gbuomprisco the problem is that when you execute npm install ng2-tag-input --save
It installs a old version of the module.
The files are different a bit.
Maybe a issue with npm ?

[2016-11-28 07:47] rubenCodeforges commented on #100
@henri-ihalainen i use intellij it does it automaticaly , but even in that case you would get a module not found exception and not a webpack error.

[2016-11-28 07:49] henri-ihalainen commented on #100
@rubenCodeforges I also use IntelliJ and that was the problem. It added automatically the wrong import import { TagInputModule } from 'ng2-tag-input/dist/modules/ng2-tag-input.module';

when it should be import { TagInputModule } from 'ng2-tag-input';

That caused me similar kind of error messages

[2016-11-28 07:51] rubenCodeforges commented on #100
@henri-ihalainen  you would get a different error .
Ive already explained that the files are different from the repo , looks like old version.
Anyway it can be closed , ive removed the module due to the use of material drop down

[2016-11-28 08:59] Gbuomprisco commented on #100
OK, I'll try to republish it on NPM anyway. Thanks :)

[2016-12-02 08:18] Sndan commented on #98
I have the same exact issue ...
any workaround ?? any solutions ?

thanks ,,

[2016-12-06 13:45] DODMax commented on #65
According to [this thread](https://github.com/gevgeny/angular2-highcharts/issues/75) the package would need to be compiled by ngc first in order to generate a required ` index.metadata.json ` file.

[2016-12-06 13:47] DODMax commented on #98
Probably a duplicate of https://github.com/Gbuomprisco/ng2-tag-input/issues/65
According to [this thread](https://github.com/gevgeny/angular2-highcharts/issues/75) the package would need to be compiled by ngc first in order to generate a required ` index.metadata.json ` file.

[2016-12-06 13:53] tderoo opened #101 "Autocomplete list gets hidden behind modal"
Am using the ng2-tag-input with auto-complete on a bsModal () form but as you can see in the screenshot the auto-complete item list is generated behind the modal form and therefore unreachable. Could only see it once I resized the screen since it is sitting behind the input field. Is there a setting which forces the auto-complete to the front and/or is the tag input not compatible for use with mod

[2016-12-08 09:23] AndriiDidkivsky opened #102 "How to get access to autocomplete dropdown ?"
Hi.
I need to change position of  dropdown when it's open.
How  can I get to know when dropdown is opened ?
Or maybe I can change  positioning behaviour some way?

[2016-12-08 15:01] tonysparks opened #103 "onTextChange does not get invoked with custom template"
When using a custom template (i.e., `hasCustomTemplate() === true`) the `onTextChange` callback is not invoked.

[Example](http://www.webpackbin.com/4JH6gPG7z):

[code]

If you remove the custom template, the `onTextChange` callback is invoked when typing a new tag.

[2016-12-08 15:28] Gbuomprisco commented on #102
Hi @AndriiDidkivsky,

No way at the moment. I guess I'll need to figure out an elegant way of accessing the dropdown. :)

[2016-12-08 17:43] rajshrimohanks commented on #98
@Gbuomprisco You can simply solve this by compiling your code using ngc and then bundling it for release. That should generate the required `*.metadata.json` files. Without them, AOT is not possible when we add your library into our code and that's a huge downer...

[2016-12-08 21:27] sivamamidi-REISys opened #104 "how to clear entered text from input?"
We are looking for a way that how to remove text from text input onBlur event.

[2016-12-08 21:35] tonysparks commented on #102
I had to disable the positioning adjustment of the dropdown (it would turn it into a dropup).  It most certainly isn't ideal, but it works:

In your Angular Component
[code]

And the template should contain the ViewChild reference:
[code]

[2016-12-09 07:39] aslubsky commented on #99
+1
Or just put all styles into some root class. As example class `caret` make broken bootstrap `catet`

[2016-12-09 12:06] AndriiDidkivsky commented on #102
Hi @tonysparks.

Thanks, I'll try this approach.

[2016-12-09 13:20] Gbuomprisco commented on #104
HI @sivamamidi-REISys,

There should be a way by registering a reference on the component and reset its form's value. I need to dig in the code and try it out to be sure though. Will let you know.

[2016-12-11 13:21] Gbuomprisco commented on #98
Hi @rajshrimohanks, I understand that.
Unfortunately it is not too easy as I am using require() all over the place and unfortunately they cannot be used with AOT, so I will need to change those first.
Sorry for the delay, I'm bombarded with issues and it's difficult to fix them all :) Do feel free to open a PR if you are able to make it work on your env, it would be huge help

[2016-12-11 13:21] #94 closed

[2016-12-12 16:07] MrZaYaC opened #105 "Doesn`t work with server rendering"
`angular/universal` server crashing because of
[code]

Perhaps you should make ability to don`t use style-loader

[2016-12-12 22:38] andrew-willens commented on #59
I'm experiencing the same problem - if autocomplete is set to true, the browser console logs a "can't read 'name' from undefined" error. I'm on OSX El Capitan, so I don't believe it's a Windows issue.
![screen shot 2016-12-12 at 5 36 47 pm](https://cloud.githubusercontent.com/assets/6180388/21119684/b8a95cc0-c091-11e6-996c-d7cae00426ae.png)

[2016-12-12 23:44] marcoskichel commented on #69
Any news on this?

[2016-12-13 20:40] NathanLawrence opened #106 "Odd Error Using Angular CLI for AoT"
I keep getting this error when I add `TagInputModule` to my imports:

[code]

Am I doing something ridiculous, or is this an actual bug? I checked TagInputModule's declaration, and it's preceded by an `@NgModule` decorator just as it should be -- in fact, the code is basically *just* the decorator. So what's going on?

[2016-12-13 20:58] jmynes opened #107 "Multiple errors on sample page"
[https://gbuomprisco.github.io/ng2-tag-input/](url) has samples listed of various uses for your module. However, if you delete the typescript or javascript tag in the max 5 field above it and then click the tag with the same text in read-only, it deletes itself. Additionally, the max 5 field only allows for 3 tags.

Using Firefox Developer Edition 52.0a2 (2016-12-09) (64-bit) on fully updated Arch

[2016-12-13 23:54] Tgure opened #108 "Delete Only?"
Is there a way to allow delete but not adding?  I am populating the tags dynamically but only want the user to be able to delete.

[2016-12-14 18:19] anvesh48 opened #109 "autocomplete custom template/ modify the css for autocomplete dropdown to include the font-awesome icons?"
# Gbuomprisco,

I am trying to add a custom template for autocomplete dropdown can you please point me to any example in the documentation or please confirm whether it is available or not. Actually, in our project we have two custom partial templates one for the displaying tags name  and the other one is for displaying autocomplete dropdown list, but in the documentation i can see only custom temp

[2016-12-15 21:11] Taffatech opened #110 "File error when building production build"
I have a seed project:

https://github.com/mgechev/angular-seed
I am trying to build a production build of the app using:

$ npm run build.prod
I am using a module that I have installed using:

npm install ng2-tag-input --save
I am getting an error:

'build.bundles.app' errored after 1.41 s
Error on fetch for ng2-tag-input.js at file:///D:/APP/node_modules/ng2-tag-input.js
    Loading dist\tmp\app

[2016-12-19 19:12] avinashjoshi commented on #106
I have the same issue!

[2016-12-20 02:00] anvesh48 opened #111 "onAdd(item) is returning undefined."
Gbu, I am trying to capture the selected item from the autocomplete list by using (onAdd)="onAdd(item)" method and trying to capture the value in the component. But it is returning undefined in the componnent. Can you please add any example in the documentation for it please.

[2016-12-20 04:59] tomalex0 commented on #109
@Gbuomprisco  as its dependent on https://github.com/Gbuomprisco/ng2-material-dropdown
Any option to change the dropdown template?

[2016-12-20 08:23] studentIvan commented on #102
@tonysparks thank you, does it compatible with maxItems option?

[2016-12-20 17:31] anvesh48 commented on #68
@dverbovyi
I have the similar requirement to display the label name from the object instead of array of strings. Have you found a way to do that.Or do you found a better solution for it?

[2016-12-21 09:42] Taffatech opened #112 "Error: (SystemJS) Cannot read property 'Component' of undefined"
I am getting this with both building in dev and production.

`Error: (SystemJS) Cannot read property 'Component' of undefined
	TypeError: Cannot read property 'Component' of undefined
	    at eval ( http://domain.com/node_modules/ng2-tag-input/dist/ng2-tag-input.bundle.js:139:16)
	    at Object.module.exports ( http://domain.com/node_modules/ng2-tag-input/dist/ng2-tag-input.bundle.js:146:3)
	    a

[2016-12-21 09:52] Taffatech commented on #69
I am also getting the issue: Cannot read property 'Component' of undefined(…).

[2016-12-21 13:27] okachynskyy commented on #99
+1
I also have issue with bootstrap `caret`.

[2016-12-21 14:27] tonysparks commented on #102
I believe so @studentIvan.  It doesn't look like there is any specific logic around maxItems when calculating the dropdown position.  The example HTML I gave is just that, it's an example which should work with the other ng2-tag-input options.

[2016-12-21 17:17] studentIvan commented on #102
@tonysparks just I got the bug with it. And had to write a dirty hack to hide it. But maybe is not relate to your fix. But probably yes. =)

[2016-12-22 03:26] shermmyy opened #113 "Files not getting put down with npm install"
I'm trying to install the library via npm install, but it doesn't look like anything is being put down. What are some potential solutions?

![screen shot 2016-12-21 at 10 21 38 pm](https://cloud.githubusercontent.com/assets/5205459/21414329/7617d6e2-c7cc-11e6-9735-6f39d1babfc1.png)

[2016-12-22 10:31] Gbuomprisco commented on #113
Hi @shermmyy,

it sounds pretty weird. I see the 'dist' folders are not there...

[2016-12-22 10:33] Gbuomprisco commented on #111
Hi @anvesh48,

could you try renaming `onAdd(item)` to `onAdd($event)`?

[2016-12-22 10:35] Gbuomprisco commented on #109
Hi @anvesh48,

all good suggestions, thanks. But obviously, it is going to take a little before I can add them all. I would very welcome PRs that could speed up that :).

@tomalex0 not at the moment :(

[2016-12-22 10:36] Gbuomprisco commented on #108
Hi @Tgure,

not at the moment unfortunately. I will try adding an option for that.

[2016-12-22 10:37] Gbuomprisco commented on #107
Hi @jmynes,

that is a very old version I ought to update. Can you check instead the webpackbin link in the readme? Does the issue still persist? Thanks

[2016-12-22 10:38] Gbuomprisco commented on #106
Hi @NathanLawrence and @avinashjoshi,

there are a few issues listed with AoT. Unfortunately when I built it I didn't take it into consideration (I started this while it was in beta). I am going to have a look though now and solve it :)

[2016-12-22 10:39] Gbuomprisco commented on #105
Hi @MrZaYaC,

thanks for reporting, I'm going to have a look soon (finally holidays time)

[2016-12-22 10:40] Gbuomprisco commented on #99
Nice suggestion. Does anyone know the best way to do this with A2? It was my intention from the beginning but I still am to find a nice solution for this

[2016-12-22 15:55] anvesh48 commented on #111
Thanks Gbu, for your reply. I appreciate that.

[2016-12-22 16:24] Gbuomprisco commented on #110
Hi @Taffatech,

are you using SystemJS or Webpack?

[2016-12-22 16:27] Gbuomprisco commented on #105
Hi @MrZaYaC,

the package doesn't use style-loader anymore - maybe it could work now? I'll test asap with an universal boilerplate

[2016-12-22 16:27] #105 closed

[2016-12-22 16:41] Gbuomprisco commented on #106
HI @NathanLawrence  and @avinashjoshi,

the latest version *should* be working with AOT. I am trying with some boilerplates but some 3rd parties always complain. Please reopen if still not working

[2016-12-22 16:41] #106 closed

[2016-12-22 16:42] Gbuomprisco commented on #98
Hi,

the package has been updated to be working with AOT. Unfortunately I haven't been able yet to test with some AOT ready boilerplates (some 3rd party always complains, it seems).

Please reopen this if still not working :)

[2016-12-22 16:42] #98 closed

[2016-12-22 16:44] Gbuomprisco commented on #65
Hi,

the library should be working with AOT now. Please reopen if still an issue (and sorry for the huge delay, I just found some time as am on holidays)

[2016-12-22 16:44] #65 closed

[2016-12-22 16:57] anvesh48 opened #115 "Build is breaking"
/node_modules/ng2-tag-input/dist/node_modules/ng2-material-dropdown/index.d.ts:1:96
Cannot find module './dist/src/index'.[39m[22m

I am getting this error when we are building our application.

[2016-12-22 17:16] shermmyy commented on #113
I'm now getting some more files, but no /
![screen shot 2016-12-22 at 12 15 24 pm](https://cloud.githubusercontent.com/assets/5205459/21434059/7873b8f6-c840-11e6-8f9c-a34cf3751130.png)
dist

[2016-12-22 17:46] Gbuomprisco commented on #113
HI @shermmyy,

so which command are you exactly using when installing this? I must be dependent on the config, cause I can't reproduce, nor I think anyone did so far :)

[2016-12-22 17:51] shermmyy commented on #113
Thanks for the help @Gbuomprisco!

<img width="1093" alt="screen shot 2016-12-22 at 12 50 23 pm" src="https://cloud.githubusercontent.com/assets/5205459/21435016/57b6606e-c845-11e6-8f71-0b11b2edf779.png">

[2016-12-22 18:04] Gbuomprisco commented on #113
That seems absolutely correct - therefore pretty strange!

[2016-12-22 18:05] Gbuomprisco commented on #115
Sorry,

I should have fixed now. Please notice `ng2-material-dropdown` is a peer dependency and needs to be installed separately (see readme). I'll try to have this optional, as many people don't use the autocomplete option.

[2016-12-22 20:44] #115 closed

[2016-12-22 21:55] avinashjoshi commented on #106
It works! Thanks @Gbuomprisco

[2016-12-22 23:00] Gbuomprisco commented on #112
Hi @Taffatech,

could you try setting `format: 'cjs'`?

[2016-12-22 23:01] Gbuomprisco commented on #69
Hi everyone,

I was able to make it work with systemjs. Could you try setting `format: 'cjs'`?

[2016-12-23 05:10] DODMax commented on #98
Hi,

Thanks for taking the time, really looking forward to use this component in my Ionic2 project.
For now I have the following error when compiling:
[code]

I'll try to look into it although I'm not so sure where to start :-)

[2016-12-23 11:02] Gbuomprisco commented on #98
mhm I wonder if in Ionic - the properties used in templates need to be public? I never used it :|

[2016-12-23 14:12] AndriiDidkivsky opened #117 "Internet explorer support"
Autocomplete dropdown doesn't appear in IE.
Body tag contains ng2-material-dropdown component, I think it's a style issue.

Can you help us to resolve that problem?

Tested in IE 10, 11.

[2016-12-23 15:55] Gbuomprisco commented on #102
Just FIY, I am working on this and making the autocomplete less of a blackbox, the compromise is more boilerplate. But guess will be worth it.

[2016-12-24 02:14] Gbuomprisco commented on #109
Hi everyone,

just FYI I am working on changing the dropdown template possible.

See https://github.com/Gbuomprisco/ng2-tag-input/pull/116

[2016-12-24 11:10] Taffatech commented on #112
`Now I am getting the following:

Error tracing ng2-tag-input/dist/ng2-tag-input.bundle.js at file:///D:/project/node_modules/ng2-tag-input/dist/ng2-tag-input.bundle.js
        Loading dist\tmp\app\content/timeline/timeline.module.js
        Loading dist\tmp\app\content/content.module.js
        Loading dist\tmp\app\app.module.js
        Loading dist\tmp\app\main.js
        Error: Unable to calcul

[2016-12-24 11:15] Taffatech commented on #110
Hey, I am using the following seed project:
https://github.com/mgechev/angular-seed

[2016-12-24 11:17] Taffatech commented on #112
Here is what my config is like:

`
SYSTEM_BUILDER_CONFIG: any = {
    defaultJSExtensions: true,
    base: this.PROJECT_ROOT,
    packageConfigPaths: [
      join('node_modules', '*', 'package.json'),
      join('node_modules', '@angular', '*', 'package.json')
    ],
    paths: {
      [join(this.TMP_DIR, this.BOOTSTRAP_DIR, '*')]: `${this.TMP_DIR}/${this.BOOTSTRAP_DIR}/*`,
      'node_modules/*':

[2016-12-24 15:51] Gbuomprisco commented on #104
Hi @sivamamidi-REISys,

I haven't tried this yet, but it should work: try using the `onBlur` event to be notified when a new item is added.  Reference a local variable for the form you wish to clear and call

[code]

Of course, this wouldn't work if you need to create dynamic forms.

I'll probably be adding a property `clearOnBlur` in the near future

[2016-12-25 01:00] tomalex0 commented on #103
Is this issue fixed in your latest version?

[2016-12-25 01:15] tomalex0 opened #119 "Duplicate item Hidden from Dropdown"
Just want to check if already added item is not shown in dropdown menu again ?

If so any option to enable/disable this, i would still want  item visible in drop down  even though allowing  only unique item in chips view.

http://www.webpackbin.com/VkEgHA8xM

Webpackbin demo also points to older version

[2016-12-26 01:39] tomalex0 commented on #119
Other than https://github.com/Gbuomprisco/ng2-tag-input/issues/103 rest looks to be working fine for now for me

[2016-12-26 01:39] #119 closed

[2016-12-26 08:36] AndriiDidkivsky commented on #117
@Gbuomprisco, could you provide workaround for us before issue will be resolved ?

[2016-12-26 13:20] #109 closed

[2016-12-26 13:21] Gbuomprisco commented on #111
Hi! Please reopen if this is still an issue

[2016-12-26 13:21] #111 closed

[2016-12-26 13:22] #107 closed

[2016-12-26 13:23] Gbuomprisco commented on #99
Hi! This should be possible with the latest release :) Reopen if you have any issues

[2016-12-26 13:23] #99 closed

[2016-12-26 13:25] #80 closed

[2016-12-26 13:25] #100 closed

[2016-12-26 13:26] #69 closed

[2016-12-26 17:32] anvesh48 commented on #111
It is working for me after changing to onAdd($event). Can you please add the same thing in the documentaion.

[2016-12-26 17:33] anvesh48 commented on #109
Thanks..!

[2016-12-27 08:27] manhlinhnguyen opened #120 "Problem with non-English characters"
Nice component, and I found it suit very well to my need. However I found a small bug with the version I installed with npm.
I get this error when input with non-english characters"
`Error in ./TagInputForm class TagInputForm - inline template:2:4 caused by: Cannot read property 'focus' of undefined`
And it auto-separates the word into many pieces, for example: I type "đất" and it shows 4 tags: d,

[2016-12-27 09:33] manhlinhnguyen commented on #120
Hello,
It appears to be OK when I remove the separatorKeys attribute from <tag-input>
[code]
Is it considered a bug and need to be fixed?

Anyway, thank again!!!

[2016-12-27 15:26] AndriiDidkivsky opened #121 "Semantic release proposal"
Hi.
Would be a pretty cool if you'll use [semantic-release](https://github.com/semantic-release/semantic-release) or something like that.

I have try to update component via npm and got few breaking changes.
I don't know which version were fixed or broke some features and spent so much time looking for some information in your commits.

Are you planning add a changelog in the near future?

[2016-12-27 18:19] Gbuomprisco commented on #121
Hi @AndriiDidkivsky,

Yeah, you're absolutely right. I will definitely start considering the releases more seriously. There are more breaking changes on the way :| (for the best)

[2016-12-27 18:23] Gbuomprisco commented on #120
Hi @manhlinhnguyen,

Hmm, I don't seem able to reproduce it! If you don't need the separatorKeys attribute, I'll close for now, but reopen if needed :)

[2016-12-27 18:23] #120 closed

[2016-12-27 21:15] AndriiDidkivsky commented on #117
@Gbuomprisco , Oh, I understand.
I'll try to solve this problem and create a pull request.
Thanks for quick answer.

[2016-12-28 01:47] tomalex0 commented on #109
@Gbuomprisco  is it possible to  have html inside  `chips` and `dropdown`

What i'm trying to do is to call function by  passing item and get back other values and render .

[2016-12-28 04:25] Gbuomprisco commented on #117
@AndriiDidkivsky that would be awesome :)

[2016-12-28 04:27] Gbuomprisco commented on #109
Hi @tomalex0,

not sure I understand correctly, but you may need to use `[innerHTML]`?

[2016-12-28 09:19] AndriiDidkivsky opened #123 "Memory leak"
Hi, I found bug that lead to memory leak.

So, I just use tag-input in popup. Every time when I open popup - new [ng2-dropdown] (http://prntscr.com/doskm0) component appear in the body,

I think you should remove dropdown on ng2-tag-input destroy hook.

Version: 0.4.4

[2016-12-28 14:14] Gbuomprisco commented on #123
Hi @AndriiDidkivsky,

I believe this is handled here https://github.com/Gbuomprisco/ng2-material-dropdown/blob/master/src/modules/components/menu/ng2-dropdown-menu.ts#L217?

[2016-12-28 14:40] PTC-JoshuaMatthews opened #124 "Custom template loses styles"
For some reason when I attempt to use a custom template, the included styles are no longer applied. I see this working in the demo, but still it is an issue with the css scoping that Angular2 is doing. The _ngContent tag added to the html is not matching the one in the stylesheet. Any ideas what could cause that?

[2016-12-28 14:45] Gbuomprisco commented on #124
Hi @PTC-JoshuaMatthews,

Thanks for reporting it. The demo is unfortunately outdated.
I'm working on a fix (PR open) and improve the way to write a custom template using <template>

[2016-12-28 15:28] Taffatech commented on #112
I can confirm that everything works OK if I remove the ng2-tag-input from the application.

[2016-12-28 15:36] Gbuomprisco commented on #112
Hi @Taffatech,

I tried the component with this systemjs boilerplate which seemed pretty good: https://github.com/antonybudianto/angular2-starter.git.

I added this to the `packages` object:

[code]

[2016-12-28 16:28] AndriiDidkivsky commented on #123
@Gbuomprisco as I understand, [it'll](https://github.com/Gbuomprisco/ng2-material-dropdown/blob/master/src/modules/components/menu/ng2-dropdown-menu.ts#L217) remove dropdown element from DOM only when dropdown component destroy hook fired.
But we should remove related dropdown when some tag-input destroyed.

Something like this.
[code]

Do you understand what I mean ?

[2016-12-28 17:57] Gbuomprisco commented on #123
Yeah, makes sense :)

[2016-12-28 18:52] Gbuomprisco commented on #124
Hi!

The updated version should be live! You'll need to slightly change the way you're defining your template. Have a look at the readme.

Please reopen if you find issues, thanks

[2016-12-28 18:52] #124 closed

[2016-12-28 19:39] PTC-JoshuaMatthews commented on #124
That did fix it, thanks!

[2016-12-28 19:48] Gbuomprisco opened #126 "Documentation: Update examples on Webpack Bin"
Current ones are pretty outdated - need to add new APIs and new features

[2016-12-28 20:25] Gbuomprisco opened #127 "Feature: Tags as Components"
Follow up for https://github.com/Gbuomprisco/ng2-tag-input/pull/125.

Create a tag Component -  in order to improve the code, but also to allow users to import tags without the form.

[2016-12-29 00:44] Gbuomprisco commented on #127
https://github.com/Gbuomprisco/ng2-tag-input/pull/128

[2016-12-29 01:26] Gbuomprisco commented on #108
Hi @Tgure,

not sure you're still interested, but the latest version allows to hide the form with `[hideForm]=true`

[2016-12-29 01:26] #108 closed

[2016-12-29 01:27] Gbuomprisco commented on #104
Hi @sivamamidi-REISys,

This is now possible. Check the input `[clearOnBlur]="true"`

[2016-12-29 01:27] #104 closed

[2016-12-29 01:29] Gbuomprisco commented on #68
Hi @dverbovyi and @anvesh48,

the latest version should make this possible :)

[2016-12-29 01:30] Gbuomprisco commented on #81
This should now be possible I guess?

[2016-12-29 01:30] #81 closed

[2016-12-29 01:30] #127 closed

[2016-12-29 02:48] Gbuomprisco commented on #103
Hi @tomalex0 and @tonysparks,

This should be fixed I guess? Please reopen if not

[2016-12-29 02:48] #103 closed

[2016-12-29 03:41] #11 closed

[2016-12-29 15:37] maltehol opened #132 "Not compatible with Angular 2.4.1: trackBy must be a function"
Trying the version 0.6.0 with angluar 2.4.1 I get following error:

Liklely it's related to this isssue: https://github.com/angular/angular/issues/13641

So the `trackBy: value` in tag-input.template.html has to replaced by a function when I got that correctly.

[2016-12-29 15:57] anvesh48 commented on #68
Wow good news..!
Thank you so much..!

[2016-12-29 16:14] Gbuomprisco commented on #132
Hi @maltehol,

thanks for reporting. The latest version (0.6.1) should take care of that. Reopen if still an issue please :)

[2016-12-29 19:42] jonohrt commented on #132
I'm getting this same error with 0.6.1 and angular 2.4.1. Any idea?

[2016-12-29 19:48] Gbuomprisco commented on #132
This is the change I added (I did not test with @2.4.1 though):

https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/tag-input.template.html#L10

Very odd :| @maltehol do you also reproduce this?

[2016-12-29 19:53] Gbuomprisco commented on #59
Sorry guys, I've never seen this error, and not sure how to reproduce it. :| I'm closing this issue for now - would be great if someone could dig deeper and submit a PR?

[2016-12-29 19:53] #59 closed

[2016-12-29 20:06] Gbuomprisco commented on #132
Hi @jonohrt,

I temporarily removed the trackBy from there, for some reason an undefined item gets passed probably before the items are passed to the accessor (or some odd reason). Try the new version :)

[2016-12-29 20:06] #132 closed

[2016-12-29 20:30] jonohrt commented on #132
Seems to be working now. Thanks!

[2016-12-30 15:20] PTC-JoshuaMatthews opened #133 "Can't bind to 'identifyBy' since it isn't a known property of 'tag-input'."
Using version 0.6.2 but not able to bind to identifyBy. Is there a more recent version that I need?

[2016-12-30 15:24] PTC-JoshuaMatthews commented on #133
Also wondering, for the dropdown do I need to explicitly install ng2-material-dropdown or will it be included automatically by installing ng2-tag-input?

[2016-12-30 15:43] Tgure commented on #108
@Gbuomprisco Awesome, I will give it a try thanks.

[2016-12-30 16:10] PTC-JoshuaMatthews opened #134 "autocompleteItems should accept an array of objects"
When using an array of objects for the ngModel, it would be nice to be able to use an array of objects we well for the autocompleteItems

[2016-12-30 16:20] PTC-JoshuaMatthews opened #135 "Remove tag button doesn't work when ngModel is an array objects, unless display == value"
When the tag control adds an object, it creates the object {display: 'enteredString', value: 'enteredString'}

This object can be removed. But If I initialize the tag control with ngModel like [{display: 'val1', value: '1'}, {display: 'val2', value: '2'}] then those tags cannot be removed. If initial ngModel is  [{display: 'val1', value: 'val1'}, {display: 'val2', value: 'val2'}] then it works as

[2016-12-30 21:06] Gbuomprisco commented on #133
Hi @PTC-JoshuaMatthews,

what Angular version are you using? It's working well on my end (0.6.2 is the latest)

[2016-12-30 21:11] Gbuomprisco commented on #135
Hi @PTC-JoshuaMatthews,

I just released a fix :) Please reopen if still an issue

[2016-12-30 21:11] #135 closed

[2016-12-30 21:12] Gbuomprisco commented on #134
Yep, I agree, shouldn't take very long as it is pretty straight forward to add

[2017-01-02 11:34] gooor opened #138 "Autocomplete doesn't work"
Example from README doesn't work as expected
[code]
Results in `Can't bind to 'autocompleteItems' since it isn't a known property of 'tag-input-dropdown'.` error

[2017-01-02 13:34] Gbuomprisco commented on #138
Hi @gooor,

Sorry, the readme refers to another version I have not yet published. Please move [autocompleteItems] to the component `tag-input`. See the webpackbin link for examples :)

[2017-01-02 16:13] Gbuomprisco commented on #138
Scratch that - actually. I just published the new version; let me know if you still have issues

[2017-01-02 16:13] #138 closed

[2017-01-02 22:22] AceTheFace opened #140 "Version 0.7.0 not via npm?"
Hi,

could you please provide the current version 0.7.0 via npm? I'm currently trying to get autocomplete working, but it seems documentation/demos differs from the implementation in 0.6.* (see #138)
I tried to install the current MASTER with npm but I have no clue how to create a working dist-package :(

Thanks in advance!! @Gbuomprisco

[2017-01-03 08:36] Gbuomprisco commented on #140
Hi @AceTheFace,

I published the version 0.7.0 yesterday :) Does it not work for you? The demo is definitely outdated but the examples in the readme should be fine

[2017-01-03 08:48] Gbuomprisco commented on #134
This should now be possible :)

[2017-01-03 08:48] #134 closed

[2017-01-03 10:36] AceTheFace commented on #140
Thanks, now 0.7.0 was installed and everything is working as expected. Thanks for that great component!!

[2017-01-03 10:36] #140 closed

[2017-01-03 11:55] 001saraju opened #141 "When adding duplicate tag and press enter key it will refresh the page"
Hello, I have used tag-input inside form tag and when adding duplicate tag and press enter key it will refresh the page.
So how can I stop refreshing the page and validate it ?

[2017-01-03 12:05] Gbuomprisco commented on #141
Hi, sorry, must be a bug. Will have a look soon.

[2017-01-03 18:42] Gbuomprisco commented on #141
Hi @001saraju,

could you try stop the console on errors and paste the stack trace here? I wasn't able to reproduce the error, so I suspect it's something else happening.

[2017-01-04 21:25] tonysparks opened #142 "Value and Display TagModels not consistent"
Hello,

It appears there are some inconsistencies with the way TagModel is being used:

In `tag-input-dropdown-component.ts` it uses the `TagModel.display` to validate the tag:
[code]
Then, in `tag-input.ts` it is comparing against the `TagModel.value`
[code]

Because of this, the duplicate checks are not functioning correctly.

Thank you,

Tony

[2017-01-05 11:25] thisisgit commented on #101
Try this:

  z-index: 9999 !important;
}

[2017-01-05 16:14] tonysparks opened #143 "Unable to input values with spaces in the tag-input-form"
I'm unable to input values with spaces, the KeyEvent with keyCode of 32 is eaten via the following code:

[actions.ts](https://github.com/Gbuomprisco/ng2-material-dropdown/blob/master/src/modules/components/menu/actions.ts)
[code]

![image](https://cloud.githubusercontent.com/assets/1552968/21687595/827e0352-d32f-11e6-8008-c5d626c93575.png)

[2017-01-05 21:07] PTC-JoshuaMatthews commented on #133
Upgraded to 2.4.1 and this issue went away. Thanks for all the good work!

[2017-01-05 21:30] Gbuomprisco commented on #133
@PTC-JoshuaMatthews glad it works :)

[2017-01-05 21:30] #133 closed

[2017-01-05 21:42] Gbuomprisco commented on #143
Hi @tonysparks,

Thanks for reporting it. I opened a PR, I'll merge as soon as I verified it. This also fixes https://github.com/Gbuomprisco/ng2-tag-input/issues/142

https://github.com/Gbuomprisco/ng2-tag-input/pull/144

[2017-01-05 22:39] PTC-JoshuaMatthews opened #145 "Request to update behavior when using identifyBy and displayBy"
When using identifyBy and displayBy the goal is to use the current object model for tags in your application and make that model work with the tag input. Unfortunately when using identifyBy and displayBy, after the first tag is added, all tags in the bound list are transformed to {display:xxx, value:xxx} format.

1) Would it be possible to let the existing tags remain the in the format they were p

[2017-01-06 10:58] 001saraju commented on #141
Sorry for the late replay, here is the image you can see I entered "C#" second time and it throws error in console refresh the whole form because I added "tag-input" inside form tag.

<tag-input [(ngModel)]="SkillList" name="SkillList"></tag-input>

![error](https://cloud.githubusercontent.com/assets/23423146/21715858/f60f9882-d42c-11e6-8cd8-26b9e92611a1.png)

[2017-01-06 11:04] Gbuomprisco commented on #141
I believe your browser doesn't support Array.prototype.find() (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find)

What version of Chrome are you running?

I'd use an es6 polyfill for this, but I believe it would need to be added to the whole application rather than in a single component.

[2017-01-06 11:20] 001saraju commented on #141
I am using latest Version 55.0.2883.87 of chrome and I'd use es5 (angular 2).

[2017-01-06 11:29] Gbuomprisco commented on #141
Actually - my bad: the method is on QueryList https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/tag-input.ts#L368

The method find() seems to be the latest introduced here: https://github.com/angular/angular/commit/7c16ef942e135ea64a69ce8025c75c140c113d83

What version of Angular are you running?

[2017-01-06 11:50] 001saraju commented on #141
I am using angular version 2.1.0

[2017-01-06 11:56] Gbuomprisco commented on #141
That's the reason :) the component is supposed to work with the latest versions. At the moment this is the 2.4.1. The find() method was introduced in the version 2.2.0 I suppose.

[2017-01-06 11:56] #141 closed

[2017-01-06 12:04] 001saraju commented on #141
Hmmm ok, so how can I handle this error you have any idea ?

[2017-01-06 16:03] Gbuomprisco commented on #141
@001saraju the only option i can see is to update your packages

[2017-01-06 19:31] Gbuomprisco commented on #145
Hi @PTC-JoshuaMatthews,

First of all, thanks for the nice words - really appreciate it.

1. I believe yes - (unfortunately) it needs a big rewrite but I think it's worth it, I realized too late it was a mistake
2. I believe here you mean that the autocomplete would match items by `value`?
3. definitely yes - as part of the rewrite

[2017-01-06 23:31] JdgaleTorre opened #147 "Error with Animation"
I'm adding ng2 tag input to my project and having the next error:

I add in my Module:

Also this in my system.js

Thanks.

[2017-01-07 02:57] Gbuomprisco commented on #147
Hi @JdgaleTorre,

I suspect you're using an earlier version of Angular? This component is supposed to work with Angular 2.4.1. :) Which one are you running?

[2017-01-07 21:51] Gbuomprisco commented on #145
FYI I am working on these improvs here https://github.com/Gbuomprisco/ng2-tag-input/pull/144

[2017-01-08 14:02] webcat12345 commented on #147
Same issue on my side.

[2017-01-08 14:11] webcat12345 commented on #147
Further information : This is my **module**
`import { TagInputModule } from 'ng2-tag-input';`
And this is **ng2-tag-input.module.d.ts**
`import { TagInputForm } from './components/tag-input-form';
import { TagInputComponent } from './components';
import { TagInputDropdown } from './components/dropdown/tag-input-dropdown.component';
export declare class TagInputModule {
}
export { TagInputComponent

[2017-01-08 14:25] Gbuomprisco commented on #147
Hi @webcat12345,

Are you running Angular 2.4.1 or which version?

[2017-01-08 14:27] webcat12345 commented on #147
Thanks for your quick response. I am using Angular 2.0.2 and Just updated package.json with 2.4.1 and now updating packages.

[2017-01-08 14:29] Gbuomprisco commented on #147
Cool, you may have some things to change in your application, but the following error should disappear. Always a good thing to update anyway :)

[2017-01-08 14:32] webcat12345 commented on #147
Thank you , I will post questions here if I have some more issues. This component looks amazing and I decided to use this component for our project and I am nearly excited!  Thank you!

[2017-01-08 14:34] Gbuomprisco commented on #147
Thanks! More updates are on the way (see PRs). @JdgaleTorre I believe you will fix the issue by updating to Angular 2.4.1. I am closing the issue but please reopen if there are still issues

[2017-01-08 14:34] #147 closed

[2017-01-08 17:19] Gbuomprisco commented on #142
Hi @tonysparks,

I hope this is fixed in version 0.7.2. Would you try and let me know? Thanks!

[2017-01-08 21:17] Gbuomprisco commented on #143
This should be fixed with version 0.7.2

[2017-01-08 21:17] #143 closed

[2017-01-08 21:18] Gbuomprisco commented on #126
This is done http://www.webpackbin.com/EkJFD5jHf

[2017-01-08 21:18] #126 closed

[2017-01-09 14:55] tonysparks commented on #142
Thank you @Gbuomprisco, it works great!

[2017-01-09 14:56] Gbuomprisco commented on #142
Great! Closing issue :)

[2017-01-09 14:56] #142 closed

[2017-01-09 15:13] JdgaleTorre commented on #147
Thank you, you're right, it was the angular, I was using 2.0.3.
Thanks for your help.

[2017-01-10 12:13] Gbuomprisco commented on #101
I increased the z-index to 100;

I don't think it's a component issue tho, z-index needs to be correctly set throughout the app.

[2017-01-10 12:13] #101 closed

[2017-01-10 14:52] tonysparks opened #148 "focusFirstElement does not work"
Hello,

The `tag-input-dropdown` `focusFirstElement` doesn't appear to work.  When the dropdown appears, the first element is not `selected`, which requires the user to press the down arrow key.

![image](https://cloud.githubusercontent.com/assets/1552968/21810599/14dcbdd4-d712-11e6-8745-ecd5b80dcd0f.png)

Here is an example [application](http://www.webpackbin.com/Eyx1X1CSG).

Example:
[code]

Tha

[2017-01-10 15:09] josephserrano15 opened #149 "Install isuue"
Hello,

First of all I would like to thank you for all the hard work you have to create that awesome module. I was able to play around with few days ago, but unfortunate it has been 2 days that I am not able to start the application.

I am getting the following error message.

node_modules/ng2-tag-input/dist/node_modules/ng2-material-dropdown/index.d.ts(1,97): error TS2307: Cannot find module './d

[2017-01-10 15:11] Soubkia opened #150 "Optionally Disable Default Validation"
If you press enter on an empty input it displays a warning saying "Please fill out this field". I would like to be able disable this so that pressing enter on an empty tag input is mapped to a valid user action (like submitting a form or executing a search).

I think the issue is the `required` [here](https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/tag-input-form/tag-in

[2017-01-10 15:28] josephserrano15 commented on #149
I just downgraded to 0.7.0 and it is working again. Maybe the config has changed between the 2 versions. I will look further and let you know.

Thanks again

[2017-01-10 15:30] Gbuomprisco commented on #150
Hi @Soubkia,

I was aware of that and tried to remove the ugly message, but the validity of the Angular form might not work. Unless we just check `input.value.trim()`.

No objections at all, as long as this still pass :) I can try and work on it later today if you'd rather wait

[2017-01-10 15:31] Gbuomprisco commented on #149
Hi @josephserrano15,

Thanks very much for you congratulations, very appreciated! may I ask you which angular version are you running? I have not found this issue on my end

[2017-01-10 15:32] Gbuomprisco commented on #148
Must be a regression in `ng2-material-dropdown` :| will fix there and upgrade here

[2017-01-10 15:34] josephserrano15 commented on #149
Here is my config.

"dependencies": {
    "@angular/common": "~2.1.1",
    "@angular/compiler": "~2.1.1",
    "@angular/core": "~2.1.1",
    "@angular/forms": "~2.1.1",
    "@angular/http": "~2.1.1",
    "@angular/material": "^2.0.0-alpha.9-3",
    "@angular/platform-browser": "~2.1.1",
    "@angular/platform-browser-dynamic": "~2.1.1",
    "@angular/router": "~3.1.1",
    "@angular/upgrade": "~2.

[2017-01-10 15:35] Gbuomprisco commented on #149
I am not sure this is exactly because of it, but the component is supposed to work with Angular 2.4.2. That version will definitely not work for a number of reasons. Can you try update it? Otherwise I am afraid you will have to stick with 0.7.0 as some Angular API changed (ex. animations)

[2017-01-10 15:39] tonysparks commented on #149
I'm receiving the same issue:

[code]

Error:
[code]

[2017-01-10 17:56] Gbuomprisco commented on #150
https://github.com/Gbuomprisco/ng2-tag-input/pull/151

[2017-01-11 10:17] sp-andres-gutierrez opened #152 "TypeScript warning Ng2Dropdown name not found"
## What?
Hi, we installed this module on my project and we're getting this error on our Webpack 2 build:

[code]

I checked that `ng2-material-dropdown` is in our `node_modules`.

Do you know what we're doing wrong?
Thanks for your time

[2017-01-11 12:16] troelssiggaard commented on #152
I'm getting the same error, or similar with a Angular Cli project (updated to latest Angular 2.4.2):
When I run my SPA I get:
ERROR in Ng2DropdownModule is not an NgModule

I can see that it depends on the v6.0.0 and not v6.0.2 drop-down module, does this have anything to do with it?

[2017-01-11 12:46] Gbuomprisco commented on #152
Hi @sp-andres-gutierrez,

I've never tested with Webpack 2, so I'll need to try and get back to you. Looks like a typings issue.

@troelssiggaard no, probably not, the changes were minimal. Do you also use Webpack 2?

[2017-01-11 13:02] troelssiggaard commented on #152
I'm not sure which version of Webpack, but yes I use the Angular Cli Webpack version (latest)... The module seems to be working fine, or at least so it seems - so it could be a typings issue.

[2017-01-11 13:45] Gbuomprisco commented on #149
Seems due to https://github.com/angular/angular/issues/12725

Ngc compiles stuff in node_modules

[2017-01-11 14:59] Gbuomprisco commented on #152
Hey guys,

can you try the version 0.7.4? Thanks

[2017-01-11 15:00] Gbuomprisco commented on #150
Hi @Soubkia ,

can you try the version 0.7.4? Thanks

[2017-01-11 15:00] Gbuomprisco commented on #149
Hi guys,

can you try the version 0.7.4? Thanks

[2017-01-11 15:06] tonysparks commented on #149
Thank you @Gbuomprisco works now!

[2017-01-11 15:06] Gbuomprisco commented on #149
Great :)

[2017-01-11 15:06] #149 closed

[2017-01-11 15:44] PTC-JoshuaMatthews opened #153 "Error in webpack"
[at-loader] node_modules\ng2-tag-input\dist\node_modules\ng2-material-dropdown\index.d.ts:1:97
    Cannot find module './dist/src/index'.

Any idea how to resolve this?

[2017-01-11 16:11] tonysparks commented on #153
Update to version 0.7.4.  See #149

[2017-01-11 16:11] Gbuomprisco commented on #153
Yeah - that's still under the tag `beta` cause i wasn't sure if it worked for everyone, will later update on NPM

[2017-01-11 16:13] PTC-JoshuaMatthews commented on #153
Thanks! Trying that now

[2017-01-11 16:24] PTC-JoshuaMatthews commented on #153
That fixed it, thanks!

[2017-01-11 16:42] sp-andres-gutierrez commented on #152
Looks fixed 👏 👏 👏  Thanks

[2017-01-11 16:44] Gbuomprisco commented on #153
Nice :)

[2017-01-11 16:44] #153 closed

[2017-01-11 16:44] Gbuomprisco commented on #152
Cool! I'll wait to see if it works for @troelssiggaard and close if so

[2017-01-12 09:02] sp-andres-gutierrez commented on #152
Hi, I still can see this after upgrade version and remove node_modules:
![image](https://cloud.githubusercontent.com/assets/23311890/21883174/24c5985e-d8ae-11e6-835f-0ea90695061b.png)

In my webpack 2 build.

[2017-01-12 10:26] troelssiggaard commented on #152
I'm still having "TagInputModule is not an NgModule". The only thing I've done is generate a Angular 2 scaffold with the newest Angular CLI, then added some components, updated Angular version to 2.4.2, installed ng2-tag-input via NPM (updated it to 0.7.4) and put TagInputModule into my @NgModule, like this:

app.module.ts:
`import { TagInputModule } from 'ng2-tag-input';

@NgModule({
  imports: [

[2017-01-12 10:34] Gbuomprisco commented on #152
Ok questions:
- what TS version are you running?
- Are you experiencing this in the AOT bundle?

[2017-01-12 10:53] troelssiggaard commented on #152
My devDependency is "typescript": "~2.0.3".

Not sure about the AOT question, but it might be where the problem lies, again, it might be a problem with angular cli / web pack.

I've attached the error from bash (and it's also shown in the Developer Console in the browser):
![screen shot 2017-01-12 at 11 50 57](https://cloud.githubusercontent.com/assets/2537782/21886785/8591c00e-d8bd-11e6-9421-350a

[2017-01-12 10:55] Gbuomprisco commented on #152
I'd try updating to Typescript 2.1.4, It's what I used when I tested (was working well with Webpack 2 too). It's an amazing release anyway :)

[2017-01-12 11:12] troelssiggaard commented on #152
Still not working, as before I'm getting this in my Chrome Developer Console:

`[WDS] Errors while compiling.
TagInputModule is not an NgModule
errors @ client?93b6:80
sock.onmessage @ socket.js:37
EventTarget.dispatchEvent @ eventtarget.js:51
(anonymous) @ main.js:274
SockJS._transportMessage @ main.js:272
EventEmitter.emit @ emitter.js:50
WebSocketTransport.ws.onmessage @ websocket.js:35
wrapFn

[2017-01-12 11:15] Gbuomprisco commented on #152
Wonder if it's related to http://stackoverflow.com/questions/41420619/error-appmodule-is-not-an-ngmodule

I can see a bunch of similar issues online, might be due to angular-cli

[2017-01-12 12:16] troelssiggaard commented on #152
It does seem to go away when I downgrade to Angular CLI 1.0.0.beta.21, but other errors appear (not in relation to ng2-tag-input), but it could "hide" the error... For all I know, this is the only version I've seen working, all beta.22 and greater show the "not an NgModule" error...

[2017-01-12 17:11] Gbuomprisco commented on #152
I'll dig a bit in the angular threads and see how to prevent that :)

[2017-01-12 17:13] sp-andres-gutierrez commented on #152
![image](https://cloud.githubusercontent.com/assets/23311890/21900102/df016fce-d8f2-11e6-92be-eaf951689c11.png)

[2017-01-12 22:56] johntzan commented on #69
can confirm format: cjs along with the other instructions on the readme worked. Thanks!

[2017-01-12 23:28] scottwpage opened #154 "tags with spaces block user input when autocomplete displays"
Angular 2.4.2
- Add a tag with spaces (e.g. 'git workflow')
- Type 'git' in the tag input and note the autocomplete displays showing the existing 'git workflow' tag.
- At that point trying to type a space (for example to create a new 'git merge' tag) will be blocked (i.e. nothing happens).
- The only workaround is to type something else other than a space (e.g. 'gits merge') and then go back and d

[2017-01-13 01:19] Gbuomprisco commented on #154
Hi @scottwpage,

This issue should have been resolved as of version 0.7.3. Can you check which one you are running?

Thanks

[2017-01-13 15:43] scottwpage commented on #154
I was on version 0.7.0. Upgrading to 0.7.3 fixed the issue.  Thanks

[2017-01-13 15:43] #154 closed

[2017-01-14 00:55] thisisgit opened #155 "Is there a way to prevent user from adding tag to the input?"
Hi,

I want to let users add the tags from different input component (checkbox in my case) and let ng2-tag-input to only allow search and display those added tags.
I think "validators" is the key to achieve this behavior but it seems like it requires "errorMessages" input to go along with it. I don't want error message to appear since showing it gives impression that it validates and accepts any i

[2017-01-14 13:35] Gbuomprisco commented on #155
Hi @thisisgit,

How about you use the property `hideForm` so that the input will not appear?

[2017-01-14 18:02] AndriiDidkivsky commented on #117
Fixed in latest versions

[2017-01-14 18:02] #117 closed

[2017-01-15 14:40] #150 closed

[2017-01-15 22:52] AndriiDidkivsky opened #156 "Safari support"
Hi.
I can't remove tag in safari. Version 0.7.2.
Any workarounds ?
safari 10.0.1

[2017-01-15 23:46] Gbuomprisco commented on #156
Hi @AndriiDidkivsky, thanks for reporting.

I can see many issues with Safari at the moment, I'm changing the title to "Safari Support".

[2017-01-16 04:37] thisisgit commented on #155
Hi @Gbuomprisco,

I tried using hideForm but this basically disables any input. I'm trying ng2-tag-input to **accept input** for searching/filtering purposes only (search/filter from table column) but refrain it from adding tags with the inputs in it. Probably using validators is the only solution to achieve this, and I guess my question was not that clear for you to answer. Sorry about that.

So

[2017-01-16 08:45] Gbuomprisco commented on #155
Hi @thisisgit,

I see. Have you though checked out the `onlyFromAutocomplete` property?https://github.com/Gbuomprisco/ng2-tag-input#autocomplete-optional

If I am not mistaken, it should exactly be what you're looking for?

[2017-01-16 08:53] AndriiDidkivsky commented on #156
I've removed ripple effect for workaround at the moment.
tag-ripple component covers remove button.

[2017-01-16 21:54] rosslavery commented on #148
I can verify this issue is occurring for me as well.

[2017-01-16 22:43] Gbuomprisco commented on #148
Yep it is definitely an issue: the focus function is called before the items actually are parsed by the template (although existing in the model). I will have to fix it in the ng2-material-dropdown

[2017-01-17 18:33] thisisgit commented on #155
Hi again @Gbuomprisco,

I just tried `onlyFromAutocomplete` property and it exactly does the same thing except that it accepts enter/return which clears out the input field. I guess this also needs extra work of preventing the default behavior of return by using (keyup), (onTextChange), [validators], or etc.

But I think that approach is lighter than what I did previously. Thanks a lot!

[2017-01-17 18:36] #155 closed

[2017-01-17 18:36] Gbuomprisco commented on #155
I see, I though you still wanted the functionality of adding from an autocomplete: as you said- you probably can make it work with some hacking :)

[2017-01-18 19:18] anvesh48 commented on #152
@Gbuomprisco
ERROR in TagInputModule is not an NgModule
webpack: bundle is now VALID.

Getting same error today. I have updated all my packages and seeing the above error.

"@angular/common": "2.4.3",
    "@angular/compiler": "2.4.3",
    "@angular/core": "2.4.3",
    "@angular/forms": "2.4.3",
    "@angular/http": "2.4.3",
    "@angular/platform-browser": "2.4.3",
    "@angular/platform-browser-d

[2017-01-18 21:41] anvesh48 commented on #152
https://github.com/angular/angular-cli/issues/4099#issuecomment-273608848

[2017-01-18 21:48] beeman commented on #152
@Gbuomprisco this guide might come in handy to get a good working module:
https://medium.com/@cyrilletuzi/how-to-build-and-publish-an-angular-module-7ad19c0b4464#.9y88ipdk7 :)

[2017-01-18 22:46] Gbuomprisco commented on #152
Hey @beeman,

Thanks for the link, I read it some days ago. I will have a look at something must have changed as everything was working fine in some earlier release.

[2017-01-18 22:53] beeman commented on #152
@Gbuomprisco yep, something changed. I had the same issue and one of the maintainers of angular-cli pointed me to this page.

FWIW, I worked on a generator based on this guide that does lot of the heavy lifting: https://github.com/beeman/generator-ngx-module

[2017-01-19 05:43] minuz opened #158 "Dependencies error"
Hi, I've been trying to add this component to my project but I'm getting the following error:

`node_modules/ng2-tag-input/dist/node_modules/ng2-material-dropdown/index.d.ts(1,97): error TS2307: Cannot find module './dist/src/index'.`

When I see the structure from your module, it looks like the following
![image](https://cloud.githubusercontent.com/assets/818024/22095088/2cacd178-de66-11e6-911b-e

[2017-01-19 09:56] Gbuomprisco commented on #158
Hi @minuz,

can you try setting the version of the package to `0.7.4`?

[2017-01-19 13:23] Gbuomprisco commented on #152
@anvesh48 I have looked at the issue but still doesn't seem to disappear. I am sure though that the application should still keep working (you probably set `noEmitOnError=true`?) and therefore should not keep you blocked while I find a fix. I did what the article says but no luck, with the only difference I distribute with Webpack rather than Rollup.

[2017-01-19 15:41] troelssiggaard opened #159 "Component inheritance issues"
I've tried to extend the tag-input component to use my own styling, as written in your README file, but whatever I do it seems to give me an error, i.e.:

**When I'm using the "autocompletion"/dropdown version I get:**
`EXCEPTION: Error in ./AppComponent class AppComponent - inline template:6:6 caused by: No provider for TagInputComponent!
`
**When I'm using it without the dropdown and autocomplet

[2017-01-19 17:07] Gbuomprisco commented on #159
Hi @troelssiggaard,

it must have an issue with the animation. Can you check out https://github.com/Gbuomprisco/ng2-tag-input/blob/master/demo/custom/custom.component.ts and see if there's differences with your implementation?

[2017-01-19 18:52] thisisgit commented on #152
I'm having `ERROR in Ng2DropdownModule is not an NgModule` error after I upgraded angular-cli from beta.24 to beta.25-5, which is the latest version.
I'm not sure if error is the caused by the update in angular-cli or ng2-tag-input. I have to investigate more but anyway, I was using 0.7.0 version of ng2-tag-input and have updated to 0.7.3.

While checking dependency of Ng2DropdownModule from ng2-t

[2017-01-19 19:04] thisisgit commented on #152
Just saw the comment and post saying about the solution of updating it to 0.7.4. After I did, now it says `ERROR in TagInputModule is not an NgModule`.
And found some red underlines in:
![1](https://cloud.githubusercontent.com/assets/13231564/22121019/0cb20bba-de37-11e6-9cd7-dd75437601bf.png)
![2](https://cloud.githubusercontent.com/assets/13231564/22121022/0f4c149c-de37-11e6-8665-fa7102c0c396.png

[2017-01-19 19:07] anvesh48 commented on #152
@thisisgit Is your application still running?

[2017-01-19 19:15] thisisgit commented on #152
@anvesh48

Nope, it crashes when it tries to lazy load.
But again, I just checked on version 0.7.0, it works fine.

[2017-01-19 20:28] Gbuomprisco commented on #152
Interesting, I'll check out what changed then (even though loads of other modules are having the exact issue)

[2017-01-19 21:40] troelssiggaard commented on #159
I've used your _custom.component.ts_ as my implementation, my code:
`import { Component, forwardRef, trigger, state, style, transition, animate, keyframes } from '@angular/core';
import { TagInputComponent } from 'ng2-tag-input';
import { NG_VALUE_ACCESSOR } from '@angular/forms';

// all this boilerplate is needed
@Component({
  selector: 'custom-tag-input', // or whatever you want
  providers: [

[2017-01-19 21:45] Gbuomprisco commented on #159
According to replies online, it seems that it happens because the element doesn't have an initial size. This is a web-animation issue (not Angular's).

What I'd do:
- check out the custom styles are correctly imported
- try define @flyInOut but leave it without animations

[2017-01-19 22:21] troelssiggaard commented on #159
The custom styles are the example you've written in the README and they work fine.

I've removed the animations in "flyInOut", but the error persists. Even cutting down the code to this:

`animations: [
    trigger('flyInOut', [
    // cut everything out and error still persist.
    ])
  ]`

[2017-01-19 22:51] tonysparks opened #160 "Ability to customize comparison of value and drop down items"
I have a use case where I need to ignore any leading spaces from the input value when comparing against the drop down values.  The current code does a case insensitive [comparison](https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/dropdown/tag-input-dropdown.component.ts#L226).

It would be nice to be able to define my own comparison rules.

Alternatively, what would solv

[2017-01-20 01:11] minuz commented on #158
Hi @Gbuomprisco,

Now my ts are compiling fine, thanks!
However, 2 things...
My project is using RxJs 5.0.3, I believe you should use the dependency with the ^5.0.1 instead so then npm install wouldn't complain.
The second is, now with my AoT compilation I get the following error:

`Unexpected value 'TagInputModule in C:/GitHub/Lumen.Workbench/Lucsan.Workbench/Lucsan.Workbench.WebApp/node_modules/

[2017-01-20 07:06] PTC-JoshuaMatthews commented on #145
@Gbuomprisco  Thanks! On point 2, what I mean is that if I provider a an autocomplete list in format [{id: xxx, label: abc}, {id: yyy, label: xyz}] and then I specify identifyBy="id" and displayBy="label", I would expect the autocomplete list to display items using the identfiyBy and displayBy properties. Right now I think we are still forced to use [{display: 'Item1', value: 0}} format for the au

[2017-01-20 12:40] Gbuomprisco commented on #160
@tonysparks Yeah I think maybe the most generic way of doing this is being able to provide a custom matching function, maybe an input called `customMatchingFn`, which given two values returns a boolean. Should be pretty straightforward to implement 👍

[2017-01-20 12:42] Gbuomprisco commented on #159
Mhm I see :| I'll try reproduce, probably in the weekend!

[2017-01-20 12:44] Gbuomprisco commented on #158
HI @minuz,

there may be issues with the latest cli (as documented in an another ticket). I'll check out and try to fix these issues :)

[2017-01-20 12:56] troelssiggaard commented on #159
I find that the biggest problem is not the animation but the error I get when using your Github example for Autocomplete Only:  "No provider for TagInputComponent!".
I'll have a go at it again, even though I think I've tried all possible combinations to get it to work.

Thank you!

[2017-01-20 12:59] Gbuomprisco commented on #159
Ah that's new! Can you post here your package.json (at least the angular deps and ng2-tag-input versions). It will help me debug :)

[2017-01-20 13:07] troelssiggaard commented on #159
I can send you my whole application, that's probably easier for you. I will get back to you later with the app... :)

[2017-01-20 13:26] Gbuomprisco commented on #159
that would work :)

[2017-01-20 14:15] troelssiggaard commented on #159
I just sent you an e-mail with my app, just unpack the .zip-file, `npm install` and run: `ng serve`.

[2017-01-20 19:14] Gbuomprisco commented on #145
That does sound reasonable, but will probably need to give these options to `tag-input-dropdown`  as I can see the need of having the two separate, rather than reusing the same as its parent component. Worst case scenario, the dev will have to redeclare the same properties, but will be generic enough for most cases :)

[2017-01-21 10:10] tmedanovic opened #161 "Not working with angular universal"
Library fails when used with angular universal because KeyboardEvent isn't definded on server side:

`__metadata('design:paramtypes', [KeyboardEvent]), `

Then animation parser complains about animations:

I got it working with webpack loaders to replace all the stuff that fails on server prepredering, but just to leave this issue here so it can be fixed in the future.

[2017-01-21 13:05] Gbuomprisco commented on #161
Hi @tmedanovic,

Thanks for reporting. I can change the first issue, but the second is likely due to the Angular version you are running: :enter and :leave are correct states in some of the latest versions.

[2017-01-22 17:59] manhlinhnguyen commented on #152
Hi! I'm also having problem with `Cannot find name 'Ng2Dropdown'.` in my Ionic 2 Project.
The module ng2-material-dropdown has been installed, so I don't know what can cause the problem.

[2017-01-22 18:03] Gbuomprisco commented on #152
Hi @manhlinhnguyen, can you try installing version 0.7.4? Should fix that, but not the issue with the latest angular-cli which I am still stuck on

[2017-01-22 18:10] manhlinhnguyen commented on #152
Hello, thank you for your answer. I had new problem since updating to 0.7.4 `Can't bind to 'autocompleteItems' since it isn't a known property of 'tag-input'`

I also used this module in another project (in plain Angular 2) and it works well, but now I can not make it work with my Ionic 2 Project.

[2017-01-22 18:14] Gbuomprisco commented on #152
`autocompleteItems` is part of the `tag-input-dropdown` component, which its child. You are using an outdated API - check out the examples, they are updated :)

[2017-01-22 20:56] pschalk opened #162 "Position / Size of TagInputDropdownComponent"
Hi,

is there a possibility to change the position and the amount of items of the TagInputDropdownComponent?

I've problems on mobile device that the dropdown hides the input field so that I'm not able to see what I'm currently typing. (Sometimes I'm also not able to type any new char)
(See attached image)

I have already tried the location attribute like this:

`<tag-input name="quickSearchTags"

[2017-01-22 21:24] Gbuomprisco commented on #162
Hi, you should try setting `offset` as a string, therefore [offset]="'1 0'". It might still not be optimal as the component is not optimized/thought for mobile devices at all :) Maybe some food for thought for future work

[2017-01-23 12:37] pschalk commented on #162
Thanks regarding the offset hint! :)

Is it possible to "pipe" the output of the autocomplete list to some other component? e.g. a select list which is located next to the input field?

[2017-01-23 12:40] Gbuomprisco commented on #162
Do you mean extract the matching items as the user types? Not at the moment, but probably we could add an Output `@onAutocompleteItemsChanged(items: string[] | yourObject[])`. Does it sound reasonable?

[2017-01-23 12:49] pschalk commented on #162
No, I mean that I want to replace the "default" popup which lists all autocomplete values with my own list component.

E.g. like yelp does it on their mobile side:

<img width="304" alt="bildschirmfoto 2017-01-23 um 13 44 56" src="https://cloud.githubusercontent.com/assets/8512329/22204420/2eef0d0c-e172-11e6-95c3-3e9eb16387ab.png">

So that it's possible to "control" where the autocomplete list po

[2017-01-23 12:57] Gbuomprisco commented on #162
Yeah I get it now :)

In theory you could create your sub-component, for example see the `tag-input-dropdown` implementation: ( https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/dropdown/tag-input-dropdown.component.ts).

You can use the public methods of `TagInputComponent` to make it play with your component. I haven't tried it but in theory this should be possible.

In

[2017-01-23 20:13] pschalk commented on #162
Ok thanks, I will try this! :)

[2017-01-23 22:42] tomalex0 opened #164 "ng2-tag-input@0.7.5 requires a peer of rxjs@5.0.3 but none was installed"
I have currently upgraded angular to `2.4.4` which has peer dependency of  `rxjs@5.0.1`.

These conflicts prevents me to generate `shrinkwrap` file .

Should we always use peer dependency what `angular2` supports?

[2017-01-23 23:30] Gbuomprisco commented on #164
Good point, I'll lock rx to version 5.0.1 👍

[2017-01-23 23:32] Gbuomprisco commented on #164
0.7.6 should be out now :)

[2017-01-23 23:32] #164 closed

[2017-01-23 23:36] tomalex0 commented on #164
that was quick :)

[2017-01-24 14:53] jsfrocha commented on #106
Hi @Gbuomprisco, I'm still unable to make it work with AoT compilation with the Angular CLI.

However, it seems that the latest `master` branch should fix my problem, could you please publish it to NPM ?

Thanks.

[2017-01-24 14:55] Gbuomprisco commented on #106
Hi @jsfrocha,

I published the latest version yesterday. Which one are you getting?

[2017-01-24 15:02] jsfrocha commented on #106
Oh, okay, I just did a `npm cache clean` and reinstalled everything, but I'm still getting the:

`ERROR in TagInputModule is not an NgModule`

[2017-01-24 15:03] Gbuomprisco commented on #106
Yeah that's an error happening since angular-cli 2.25 (are you using this?). I haven't found a solution for this yet :(

[2017-01-24 15:04] jsfrocha commented on #106
Did you mean 25.5 ?

I'm using `"angular-cli": "1.0.0-beta.25.5"`

[2017-01-24 15:08] Gbuomprisco commented on #106
Right, sorry :) Yes, since that version that error appears ..

[2017-01-24 15:20] jsfrocha commented on #106
Okay, I'll take a look and get back to you if I can find something.

[2017-01-24 15:28] Gbuomprisco commented on #106
That would be great @jsfrocha!

[2017-01-24 16:02] jsfrocha commented on #152
@Gbuomprisco , I see this one is still open, I'll keep on going here.

Have you seen https://github.com/vmware/clarity/issues/220 ?

It seems to be about the same thing, I've tried replicating it on your repo, but I'm not sure about how the build steps work, and I guess it would be more efficient if you could take a quick look whenever you get the time.

According to **hansl**, Angular-CLI lead de

[2017-01-24 18:37] Gbuomprisco commented on #152
Hey @jsfrocha,

I just published a new version which includes the .metadata.json files into the dist folder. I tried with angular-cli `1.0.0-beta.26` and that errors has disappeared. Can you try as well? I haven't tried to compile with aot yet

[2017-01-24 19:30] jsfrocha commented on #152
@Gbuomprisco,

Yep, can confirm it is fixed on Angular CLI `1.0.0-beta.26`. That should squash a couple of bug issues on the repo, at least from what I'm seeing thats open.

If you are talking about AoT compile in Angular CLI, from what I read, it now does it by default on both `ng serve` and `ng build` now, so I guess it is now working :)

Great job, and thanks for the great plugin, keep up the g

[2017-01-24 21:30] Gbuomprisco commented on #152
Closing this issue then :) Thanks @jsfrocha and everyone else for the contribution :)

[2017-01-24 21:30] #152 closed

[2017-01-24 21:30] Gbuomprisco commented on #158
This should be resolved with the latest release

[2017-01-24 21:30] #158 closed

[2017-01-26 14:42] sancaruso opened #166 "autocompleteObservable don't work with objects"
Hi,

I tried to use autocompleteObservable with object-tags but it don't work.
By example, I tried to change the request function in the demo by:

`public requestAutocompleteItems = (text: string) => {`
`    return Observable.of([{display:'hello',value:'hello'}]);`
`};`

but the value 'hello' is ignored.

[2017-01-26 14:45] sancaruso opened #167 "autocomplete options"
Hi,

are there possibilities to limit the number of items appearing in autocomplete list, and/or to declare a minimum number of characters to enter before displaying the list?

Thanks,

[2017-01-26 15:23] Gbuomprisco commented on #167
Hi, not at this time, but they're good candidate for being options, so I will have a look (maybe at the weekend)

[2017-01-27 11:58] mahmoudkassem92 opened #168 "Value: Failed to load tag-input.template.html"
I still get this error "Value: Failed to load tag-input.template.html"

even after adding this to packages object

    "ng2-tag-input": {
      "main": "dist/ng2-tag-input.bundle.js",
      "format": "cjs"
    },
    "ng2-material-dropdown": {
      "defaultExtension": "js",
      "main": "dist/ng2-dropdown.bundle.js",
      "format": "cjs"
    },
    "ng2-tag-input/modules/components/tag-input.te

[2017-01-27 12:09] Gbuomprisco commented on #168
Hi @mahmoudkassem92, can you post more details of your configuration (ex. package.json)?

[2017-01-27 12:12] mahmoudkassem92 commented on #168
@Gbuomprisco do u mean the versions ?

[2017-01-27 12:13] Gbuomprisco commented on #168
the dependencies, yes

[2017-01-27 12:14] mahmoudkassem92 commented on #168
"dependencies": {
    "@angular/common": "2.4.4",
    "@angular/compiler": "2.4.4",
    "@angular/core": "2.4.4",
    "@angular/forms": "2.4.4",
    "@angular/http": "2.4.4",
    "@angular/platform-browser": "2.4.4",
    "@angular/platform-browser-dynamic": "2.4.4",
    "@angular/platform-server": "2.4.4",
    "@angular/router": "3.4.4",
    "@types/webrtc": "0.0.21",
    "angular-2-local-storage"

[2017-01-27 12:16] Gbuomprisco commented on #168
I see you are using angular-cli, not SystemJS; how come are you adding that configuration?

[2017-01-27 12:17] mahmoudkassem92 commented on #168
I am using them in the angular-cli isn't that possible ? and if so what is the alternative?

[2017-01-27 12:22] Gbuomprisco commented on #168
angular-cli now works with Webpack (not SystemJS), see https://github.com/angular/angular-cli#webpack-update and https://medium.com/@jeff.boothe/angular-cli-meets-webpack-7c9b1a1e1e89.

[2017-01-27 12:35] mahmoudkassem92 commented on #168
Yes I do understand this I mean that you specified the problem for SystemJs but I am also having it although I am not using systemjs

[2017-01-27 12:43] Gbuomprisco commented on #168
That configuration is only valid for SystemJS, so you can remove it (I don't even understand where you have defined a packages object then).

I started a new angular-cli project, run ng-serve, and this problem doesn't appear, so I assume it's an issue with your configuration (which I can't figure out without accessing all the files in your project)

[2017-01-27 13:33] Gbuomprisco commented on #168
You are importing the module wrongly. You need to import this way:

[code]

Please read the readme better :) Closing issue.

[2017-01-27 13:33] #168 closed

[2017-01-27 13:50] sancaruso opened #169 "Remove don't work with custom template"
If I try to remove an item in custom template, it doesn't work.
(It is also the case in the demo.)

[2017-01-27 14:05] djleonskennedy opened #170 "Observable<Response> do not cover all situations"
Hello i'm using service that returns Observable of custom type, due the fact that the library use Response interface drop down is empty.

is it possible to use any ?

Observable<Response> -> Observable<any>

https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/dropdown/tag-input-dropdown.component.ts#L76

[2017-01-27 14:28] Gbuomprisco commented on #170
Yep, it makes sense :) I initially thought it for only http responses, but observables are so handy it could work with anything

[2017-01-27 14:28] Gbuomprisco commented on #169
True, that's a little outdates, I will update it :) (it will also need some tweak in the code as I need to pass the index to the template context)

[2017-01-27 14:29] Gbuomprisco commented on #166
Fixed it in master, will be available soon

[2017-01-27 14:57] tonysparks commented on #169
@sancaruso try this:

[code]

Notice the inclusion of `input.items.indexOf(item)`

[2017-01-27 14:58] Gbuomprisco commented on #169
Thanks @tonysparks, that should be good as well. I'll add index to the template context to ease this soon :)

[2017-01-27 14:59] djleonskennedy commented on #170
@Gbuomprisco thank you :)

[2017-01-27 15:15] djleonskennedy opened #171 "[clarification] Populate items using an Observable"
Hello @Gbuomprisco Could you clarify, can i use
`[identifyBy]="'id'" [displayBy]="'name'"`
in this situation ?

[code]
[code]

[2017-01-28 10:32] djleonskennedy commented on #171
Yes it is

[2017-01-28 10:32] #171 closed

[2017-01-28 14:29] Gbuomprisco commented on #170
Hey @djleonskennedy, the new release is out :)

[2017-01-28 14:29] #170 closed

[2017-01-28 14:29] Gbuomprisco commented on #166
Released :) reopen if still not working,  thanks!

[2017-01-28 14:29] Gbuomprisco commented on #167
Both options have been added in the latest release :)

[2017-01-28 14:29] #167 closed

[2017-01-28 21:26] elhoo opened #172 "Autocomplete not visible on modal dialog"
Hi,

I'm evaluating this and testing it together with a generated jhipster 4  project.

My problem is that the autocomplete values are not visible in my modal dialog.

After a lot of try-and-error I tried to set the template as in the most basic example (but with autocomplete):
[code]

Then I got this result:

<img width="930" alt="screen shot 2017-01-28 at 22 21 47" src="https://cloud.githubuserc

[2017-01-28 22:59] Gbuomprisco commented on #172
Hi @elhoo,

The z-index of your popup is a value bigger than the z-index of the dropdown. As a 3rd party, this is very difficult to nail: you may just want the popup over the dropdown, or maybe not, and unfortunately A2 at the moment has no tools to tackle this.

So - the dropdown has a z-index of 100 (which is, in my opinion, a sane default). As a way to solve this, I'd look at decreasing the z-i

[2017-01-28 23:03] Gbuomprisco commented on #169
The new version adds `index` as a variable in the template's context :)

[2017-01-28 23:03] #169 closed

[2017-01-29 16:56] elhoo commented on #172
Tried to override it with no success.

JHipster uses Bootstrap 4 which seems to use z-index: 1050 - so it is quite much higher than 100..

I found this quite interesting: https://github.com/angular-ui/bootstrap/issues/3262 - "The reason the modal z-index can't be fixed at one constant value is that we added support for multiple modals, so that modals can stack on top of one another."

[2017-01-29 17:00] Gbuomprisco commented on #172
Mhm, I guess this leaves to me the options of dynamically append the dropdown to another element (or, no element at all). At the moment the dropdown is appended to the body. I'll try that :)

[2017-01-29 17:21] elhoo commented on #172
I am very new (actually very new, I'm a backend developer..) to all this, but could you perhaps point me to the place in your code that sets the z-index to 100? My plan is to do a local version until you hopefully finds a solution. Thanks!

[2017-01-29 17:38] Gbuomprisco commented on #172
I see :) You'll need to find the element of the modal window (usually, the outer element) and set its z-index to 99. Beware this might have unintended consequences like other elements overlapping the popup, but if the app is coded well, this shouldn't happen.

[2017-01-29 17:56] elhoo commented on #172
Well... I wanted to try to change the z-index the n2-tag-input uses (ie 100) to something like 9999. I think that it would be okay for temporary solution because I only use one modal at the time. However, I tried to search for "z-index" in your project but could find any obvious place to change :flushed:

[2017-01-29 18:01] Gbuomprisco commented on #172
ng2-tag-input uses angular's emulated encapsulation, so unfortunately you cannot edit the style of the dropdown (or, at least, not very easily). Your best shot at this is editing the popup's z-index (hoping it doesn't use shadow dom as well) or wait until I solve the position inside the page of the dropdown.

[2017-01-29 19:12] elhoo commented on #172
Ok... I will wait 😄

[2017-01-30 13:23] weglinskit commented on #171
Hi @djleonskennedy, can you provide working example of combining identifyBy/displayBy with autocompleteObservable. I still have problems with observable structure respone (not showing autocomplete or showing but not adding to ngModel array).
Thanks in advance!

[2017-01-30 13:36] sancaruso opened #173 "Cancelling the adding of a tag"
Hi,

In some cases I need to cancel the adding of a tag by clicking on a "cancel" button. I tried something like this (I write a simplified version of my code).
In the template:
`<tag-input [ngModel]="tags" (onAdd)="addTag($event)></tag-input>`
`<button *ngIf="newTag" (click)="cancel()">Cancel</button>`

In the component:
`newTag: Tag;`
`addTag(tag: Tag) {`
`if (some condition) {...}`
`else {`
`th

[2017-01-30 14:06] Gbuomprisco commented on #171
Hi @weglinskit,

the identifyBy/displayBy do not affect the dropdown items (yet). It's in my todo list though :)

[2017-01-30 14:09] Gbuomprisco commented on #173
Hi @sancaruso,

basically, you want to test a condition before adding a tag, right?

`onAdd` is an output, which means it gets fired *after* the tag is added.

You may want to use `transform`? This executes before the tag is added. If you return the string, then the tag is added, otherwise return a falsy value, and the item will get rejected. Let me know if this is not clear?

[2017-01-30 14:13] sancaruso commented on #173
Thank you, I will try this!

[2017-01-30 14:21] Gbuomprisco commented on #173
You can find an example in the demo. With the only difference the item is transformed to `@${item}`.

So - if you return `item`, it will be appended normally. If instead you return a falsy value, this won't get appended to the list of items :)

[2017-01-30 18:00] #173 closed

[2017-01-31 01:06] waynechaw opened #174 "Add tags from controller?"
As of now, tags are added when user interact with the UI. Is it possible to programmatically add tags from controller? For example, if I want to load some default tags in the input box on refresh.

[2017-01-31 01:13] Gbuomprisco commented on #174
Hi @waynechaw,

Do you mean that you want to prepopulate the value of the form, or the items inside the input (cause you could just use the model)? Sorry but I don't get very well why :)

By the way, yes, you can use all the methods that `TagInputComponent' implements, here is a basic example:
[code]

Look at https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/tag-input.ts

[2017-01-31 08:58] sancaruso commented on #173
`transform` dit not make the job in my case (because I have to wait for a user event before cancelling). But I solved my problem using [(ngModel)] instead of [ngModel].

[2017-01-31 11:48] Gbuomprisco commented on #173
glad it works anyway :)

[2017-01-31 14:15] sancaruso opened #176 "Overflow/scroll in items of dropdown"
Hi,

As you can see in the picture below:
![image](https://cloud.githubusercontent.com/assets/25367750/22468026/331cbf04-e7c7-11e6-9b7f-a0b6528e71c2.png)
There is a little scroll bar near each item in the autocomplete dropdown. I tried to add some style like this:

`ng2-menu-item {`
`  overflow-y: hidden;`
`}`

but it didn't work.
For information, I use a template:
`        <template let-item="ite

[2017-01-31 14:28] Gbuomprisco commented on #176
Hi @sancaruso,

Yeah, someone raised a similar ticket I recall. What browser and OS are you using? I can't reproduce this on Sierra/Chrome

[2017-01-31 16:51] troelssiggaard opened #177 "Duplicate items in dropdown"
I'm getting duplicate items in my dropdown when using autoComplete, Observables and a REST API. Not sure why it's not a problem with the GitHub example, but I've tried two different REST APIs and get the same exact results, of several duplicates in the list.

Example 1: Code I use instead of the GitHub example (public api):
[code]
I.e. searching for "Howlpack Alpha" in the above resourse should gi

[2017-01-31 18:12] Gbuomprisco commented on #177
Hi @troelssiggaard,

have you tried the latest version? This issue should have been fixed - otherwise I'll have a look :)

[2017-01-31 18:35] waynechaw commented on #174
Yeah I meant populate input with tags already. Thanks for your suggestion.

[2017-01-31 18:48] Gbuomprisco commented on #174
No problem :)

[2017-01-31 18:48] #174 closed

[2017-01-31 21:34] troelssiggaard commented on #177
Sorry for not trying the latest version and bothering you. This latest version works without duplicates. Thank you! :-)

[2017-01-31 21:34] #177 closed

[2017-01-31 23:22] Gbuomprisco commented on #177
No problem :)

[2017-02-01 08:35] sancaruso commented on #176
This is on Ubuntu, Chromium.

[2017-02-01 14:52] hheexx opened #178 "More relaxed Angular and RxJS version targeting"
I understand that you don't want to support older builds of angular but please use more relaxed version targeting because now after every patch version of angular we receive warinings in npm:

npm WARN ng2-tag-input@0.7.9 requires a peer of @angular/core@2.4.4 but none was installed.
npm WARN ng2-tag-input@0.7.9 requires a peer of @angular/common@2.4.4 but none was installed.
npm WARN ng2-tag-inpu

[2017-02-01 15:48] mikabenali opened #179 "showDropdownIfEmpty seems to not working since the 0.7.8 version"
Hi,

I've update to 0.7.8 and the showDropdownIfEmpty attribute do not work anymore.

`<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="areaFilterOptions"</tag-input-dropdown>`

Do I missed something ?

[2017-02-01 16:16] Gbuomprisco commented on #179
Hi @mikabenali,

No there is a bug indeed. Will be fixed when the PR is merged - but I'll need to complete it :|

[2017-02-01 22:03] MarkPieszak commented on #178
To go along with what Boris is saying, you don't need to be up'ing a libraries Angular/Rx dependencies unless you're actually **using** those features (related to those fix branches).

So you could very well have it as `^2.0.0` which most libraries do, that avoids all of this. Just trying to help :)

[code]

[2017-02-01 22:09] Gbuomprisco commented on #178
@MarkPieszak @hheexx definitely, sounds fair enough :)

[2017-02-01 22:10] MarkPieszak commented on #178
Was just making sure, wasn't sure if you were using some of those features!
:)

[2017-02-01 22:12] Gbuomprisco commented on #178
I'll probably have to specify some angular package more strictly as there are some breaking features with the animations, but for rx or other it is then definitely the case.

[2017-02-01 22:23] hheexx commented on #178
In that case it may be better to specify that version after that breaking change for all packages. Like ^2.2.0 or ^2.3.0 - for all packages the same.
I'm not sure, maybe @MarkPieszak knows if there is any best practice about this?

[2017-02-01 22:26] MarkPieszak commented on #178
Basically just the lowest common denominator 🚀
Whatever lowest version works without breaking anything lol

[2017-02-02 09:47] jooooel opened #180 "Form values are inconsistent (sometimes strings, sometimes objects)"
When a new value is added to a tag-input, it's always added as an object `{ value: string, display: string }`. However, when a tag-input is prepopulated with an array of strings, those are not represented by an object, but by simple strings.

This is illustrated here: http://www.webpackbin.com/NkDu2JhPz
- Add a tag
- Click submit
- Check the logs.

The output (`this.form.value`) contains a mix of

[2017-02-02 10:05] Gbuomprisco commented on #180
Hi @jooooel,

for the sake of maximum customization, I guess I'll leave it as it is now. I understand though that this is an issue, and what I could do is to add an option to map every item once it has been added with only a few lines of code. I can also see many other uses for it.

Something like this:

[code]

[code]

Does it make sense?

[2017-02-02 10:13] jooooel commented on #180
That would be great! Thank you :)

[2017-02-02 14:22] mikabenali commented on #179
Tanks you :)

[2017-02-03 13:36] JbAmph opened #181 "Problem with tag selection - onSelect event"
Hi,

I have an issue with the onSelect event :
It is fired only the first time, but then it doesn't fire anymore when I want to select a tag.
I had to force the focus on the tag-input in my onSelected event in order to make it work again.

Thanks

[2017-02-03 17:53] altschuler commented on #180
While that works it would be super useful to have some sort of `plain` kind of options to force the values to always be plain strings. I'm using the tags input in multiple places so I'm forced to write a mapper function in all use cases.

Thank you very much for an awesome library! Much appreciate your effort :)

[2017-02-03 20:27] altschuler opened #182 "AoT issue"
I'm using v0.7.9 and getting this error when compiling with AoT (using angular cli).

[code]

It's weird because `TagComponent` _does_ have an `index` input (https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/tag/tag.component.ts#L60).

[2017-02-04 14:38] l2fprod commented on #182
It compiles with `"angular-cli": "1.0.0-beta.28.3"` but fails with `"@angular/cli": "1.0.0-beta.30"`.

[2017-02-05 08:42] shyamal890 opened #183 "Feature Request: Custom class in custom items template"
Depending on a property value in tag model would like to change the background of tag.

Example:
[code]

[2017-02-05 13:32] Gbuomprisco commented on #182
Hi everyone,

can you try the version 0.8.0? It is not under the tag `latest`, so you need to specify it :)

It is working on my local, not sure why that error, I just tried adding the modifier!

[2017-02-05 13:32] Gbuomprisco commented on #179
dupe https://github.com/Gbuomprisco/ng2-tag-input/issues/148 :)

[2017-02-05 13:32] #179 closed

[2017-02-05 13:33] Gbuomprisco commented on #160
This should be available in the version 0.8.0. let me know if it works OK! :)

[2017-02-05 13:33] #160 closed

[2017-02-05 14:45] l2fprod commented on #182
0.8.0 works `"@angular/cli": "1.0.0-beta.30"`

[2017-02-05 15:20] #182 closed

[2017-02-05 15:41] Gbuomprisco commented on #181
Hi @JbAmph,

two things: which browser are you using? are you trying to select an item already selected? (cause it wouldn't fire). If you could paste some of the code would be helpful :)

[2017-02-05 15:42] Gbuomprisco commented on #178
This should be fine with your project now if you use version 0.8.0 :)

[2017-02-05 15:42] #178 closed

[2017-02-05 15:43] Gbuomprisco commented on #180
Hi @jooooel and @altschuler,

I added a new option `modelAsStrings` in version 0.8.1 (defaults to `false`). Can you try it out and let me know? Reopen if still an issue :)

[2017-02-05 15:43] #180 closed

[2017-02-05 16:28] MarkPieszak commented on #178
Thank you! 🎈🎈

[2017-02-05 18:19] Gbuomprisco commented on #148
https://github.com/Gbuomprisco/ng2-tag-input/pull/185

[2017-02-05 18:20] Gbuomprisco commented on #179
https://github.com/Gbuomprisco/ng2-tag-input/pull/185

[2017-02-06 08:10] JbAmph commented on #181
Hi @Gbuomprisco,

I'm using Chrome. To be give you a simple example,  here's a sequence :

1. Click on [Tag]
2. Event onSelect is fired
3. Click somewhere else on <body>
4. [Tag] loses focus
5. Click on (the same) [Tag]
6. Event onSelect is not fired

Here's the code :

**.html file**
`
<tag-input #input [(ngModel)]="listTags"
class="avr-grid-10 custom-tags"
[addOnBlur]="true"
[addOnPaste]="true"

[2017-02-06 09:39] mikabenali commented on #179
It's working now, thx :)

[2017-02-06 15:17] Gbuomprisco opened #186 "Add option to default tags trimming"
Asked by a user by email, I think it makes sense to add an option for this and have as default the current behaviour

[2017-02-06 15:18] Access-Denied-IT commented on #186
+

[2017-02-06 20:30] Gbuomprisco commented on #172
Hi! So the option is now available, but it would need to be tested with your popup before declaring victory :) add the option `appendToBody=false` for the `tag-input-dropdown` component

[2017-02-06 20:30] Gbuomprisco commented on #176
Hi @sancaruso,

can you check if the latest version is affected? I can't reproduce

[2017-02-06 22:25] Gbuomprisco commented on #186
Hi @Access-Denied-IT,

I noticed that the model is not trimmed, it's just a visual thing: by default the browser does not show whitespaces (see http://www.w3schools.com/cssref/pr_text_white-space.asp).

I am sorry but I think I am not going to hack the CSS for showing the whitespaces: I even tried but really it was painful to look at. Maybe submit a PR if you know a good way of doing it?

[2017-02-06 22:31] Gbuomprisco commented on #145
These should all have been done now :)

[2017-02-06 22:31] #145 closed

[2017-02-06 22:32] Gbuomprisco commented on #181
Will be fixed by https://github.com/Gbuomprisco/ng2-tag-input/pull/187

[2017-02-06 22:32] Gbuomprisco commented on #148
Will be fixed by https://github.com/Gbuomprisco/ng2-tag-input/pull/187

[2017-02-07 00:00] Gbuomprisco commented on #186
Update: I misunderstood the request - tags are not trimmed, but maybe they should be by default

[2017-02-07 09:29] Gbuomprisco commented on #181
Release is out, please reopen if still not OK :)

[2017-02-07 09:29] #181 closed

[2017-02-07 14:55] JbAmph commented on #181
It works fine with v0.8.3 !

Thanks

[2017-02-07 16:03] jvielrco opened #188 "ToLowerCase missing for autocomplete"
Hello,

I think there is a toLowerCase missing in this method :

[code]

(I'm using the last version 0.8.3)
Thanks

[2017-02-07 21:37] elhoo commented on #172
I tried it, but with no success on my project.

Then I added below to http://www.webpackbin.com/EJEeo77dM (which I think is it the latest demo..):
[code]

But then I get no suggestions (and no errors). If I change to true I can see them but not the first one...

[2017-02-08 10:42] shyamal890 commented on #183
Is there a hacky way I can achieve this currently @Gbuomprisco ?

[2017-02-08 11:04] Gbuomprisco commented on #183
Hi @shyamal890,

No sorry, the current structure doesn't allow for it cause the styles are defined on the `tag` component

[2017-02-08 11:18] shyamal890 commented on #183
Any plans on adding this in near future?

[2017-02-08 11:54] Gbuomprisco commented on #183
Possibly, yes, but am unable to give you a timeline at the moment :|

[2017-02-09 13:08] DerMorb commented on #156
How did you remove the ripple effect?

[2017-02-09 13:18] AndriiDidkivsky commented on #156
@DerMorb , hi.

I've added css rule.

[code]

[2017-02-09 14:47] tonysparks commented on #148
Thank you @Gbuomprisco!

It seems to be working correctly most of the time.  I think I found a slight corner case when this feature is coupled with `matchingFn`:

[code]

Steps:

1) Tagify an entry
2) enter in a space
3) start typing
4) notice the first element is not highlighted, however if you press enter, the first element is tagified correctly.

![image](https://cloud.githubusercontent.com/ass

[2017-02-10 10:32] DerMorb commented on #156
Perfect. Thank you!

[2017-02-10 12:16] sancaruso commented on #166
I don't know how to reopen this issue.
The autocompleteObservable seems again not to work with objects, since version 0.8.4.

[2017-02-10 12:57] sancaruso commented on #166
More precisely : I get an error
`TypeError: Cannot read property 'toString' of undefined`

[2017-02-10 13:45] z--aszlo commented on #188
Probably because if this the autocomplete doesn't work if I start to write with a capital letter... and very often that is the case. I was about to implement this for authors, was thinking that I can't get the plugin working but then hey, when I typed lowercase strings it found matches! :)

[2017-02-10 14:18] sancaruso commented on #166
Solved by adding [displayBy] in the tag-input-dropdown.

[2017-02-10 14:18] #166 closed

[2017-02-10 14:20] #176 closed

[2017-02-10 17:25] z--aszlo opened #193 "Bootstrap theme?"
I have built my project with bootstrap theme, can I remove the material styling / replace it with bootstrap?

[2017-02-11 18:26] Access-Denied-IT opened #194 "How to add same tags in one input dropdown?"
Hello!
Is there a function where you can add the same tags in the input? I have input and dropdown and how to make the same tags added.

[2017-02-11 18:32] Access-Denied-IT commented on #194
Added tags don't disappear from the dropdown lists, when clicking again added the same tag.

are there any ideas ?

[2017-02-13 17:20] omprakash9 opened #195 "Issues in IE browser"
Hi,

Issue-1:

having an issue in IE browser, where the selected tags from the autocomplete dropdown
are not deleting on hitting the backspace, instead it changing the route of the application

Seems this scenario is working fine in chrome browser. Can you please check with the IE, we are having a lot issues.

Issue-2:(For both IE and chrome browser)

Css styles from the plugin for the autocomplet

[2017-02-13 18:24] jvielrco commented on #188
@z--aszlo : I didn't fix the problem in the library itself, instead I provided my own matchingFn function :
[code]

and in the view :
`    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="allTags" [matchingFn]="matchingFn">`

[2017-02-13 19:22] Gbuomprisco commented on #188
Hi @jvielrco,

Thanks for reporting&helping here. I'll find some time this week to fix this

[2017-02-13 19:24] Gbuomprisco commented on #195
Hi @omprakash9,

Thanks for reporting, but unfortunately I cannot be of much help here: I don't have a Windows machine to get IE or Spark done well (but honestly, I pretty much focused on Chrome mostly and also support for other browsers is not the best, but I plan on improving this).

PRs would be greatly appreciated :)

[2017-02-13 19:26] Gbuomprisco commented on #193
Hi @z--aszlo,

not at this time unfortunately. The only way would be extending the tag-input component, but I found it buggy in a few situations, so I cannot recommend it.

[2017-02-13 19:27] Gbuomprisco commented on #194
Hi @Access-Denied-IT,

I will try find some time to look into this sometime this week

[2017-02-13 20:59] omprakash9 commented on #195
Thanks for replying on my comment @Gbuomprisco ,

Our application is completely specific to IE browser
and we have to push our app to production in less than two months, So may I know is there a time frame
that I can expect this two issues could be fixed?

[2017-02-13 21:36] Access-Denied-IT commented on #194
@Gbuomprisco, ok!

[2017-02-13 21:39] Gbuomprisco commented on #195
I see @omprakash9, but I am afraid I won't get ahold of a Window machine very soon. Would you be able to provide some PRs for these issues?

About the second issue, anyway, be aware that the components use Angular's emulated shadow DOM, and therefore your styles won't work - but it's not a bug - it's supposed to be like that. :)

[2017-02-13 21:52] omprakash9 commented on #195
I don't have any PRs at the moment.

For my second issue- is there away to override the CSS styles?

[2017-02-13 21:53] Gbuomprisco commented on #195
No, there is not

[2017-02-13 21:53] Gbuomprisco commented on #195
No, there is not

[2017-02-13 22:15] omprakash9 commented on #195
Okay, I will get in touch with you later, if I come up with any new issues.
Thank you @Gbuomprisco

[2017-02-14 00:31] OdaiTu opened #196 "can`t display list objects from remote api"
thank you
im facing a problem which is my json here from the server and im storing it in my app using observable like this

**my service :**

`getAllTags(): Observable <NewsGB[]> {
    return this._http.get('http://www.watania.info/getAllTags')
      .map((res: Response) => res.json());
  }`

**and here is my component :**

![image](https://cloud.githubusercontent.com/assets/12837840/22909581/7b3b

[2017-02-14 09:27] Gbuomprisco commented on #196
Hi @OdaiTu,

this won't work cause is wrongly written.

You're not paasing an observable, but a subscription. You'll need to omit the subscription, use a scoped method (so you need to use an arrow function) and pass to the input if the components getAllTags, and not tags.

Check out the examples carefully :)

[2017-02-14 09:27] #196 closed

[2017-02-15 02:25] ntfs32 opened #197 "Systemjs： there something wrong with your options"
not add anything to paths，just add
[code]

but get error:
[code]
what should I do?
 thanks.

[2017-02-15 10:17] Gbuomprisco commented on #197
Sorry, but more information are needed. I am not even sure the problem is in the configuration.

[2017-02-15 18:14] bailejl commented on #172
I have the same problem.  I am using Angular2 with Material2.  I have a Material2 dialog with the ng2-tag-input.  The dialog has a z-index of 1000.  The `.ng2-dropdown-menu` has a z-index 100.  Trying to put a new z-index via one of the css files in my project fails, due to each module putting a prefix onto the css entries.  If I put the new z-index in the top-level css file, it gets no prefix, bu

[2017-02-15 18:16] Gbuomprisco commented on #172
@bailejl you can't: the module uses emulated shadow-dom, which prevents that. I'll try check the error above though.

[2017-02-15 22:33] bailejl commented on #172
I researched the issue and was able to fix it locally by modifying code in my node_modules folder.  Based on my research the the line in ng2-dropdown-menu.ts, link below, is looking for a boolean, but is getting a string `if (this.appendToBody)`.  Also, the code only allows for attachment to the body.  Once I added some code to attach the parent I declared in my template, the code worked as expect

[2017-02-15 22:38] bailejl commented on #172
Also, the readme says appendToBody defaults to false, but all the values are true in the code.

https://github.com/Gbuomprisco/ng2-material-dropdown/blob/master/src/modules/components/menu/ng2-dropdown-menu.ts#L83

https://github.com/Gbuomprisco/ng2-tag-input/blob/master/modules/components/dropdown/tag-input-dropdown.component.ts#L103

[2017-02-15 23:59] Gbuomprisco commented on #172
Hi @bailejl,

Thanks for looking into it. I found the bug(s) and will push a new version soon :)

[2017-02-16 02:29] himars3290 opened #199 "Not Compiling for production in ionic2"
I implemented ng2-tag-plugin in my ionic project....i runs fine while i run in development mode....but when i try to run it in production mode it gives me  "Cannot read property 'DeleteIconComponent' of undefined, resolving symbol TagInputModule " error.

How can i solve this error....Please help....

[2017-02-16 02:37] bailejl commented on #172
I unintsalled ng2-tag-input and did a `npm install`.  The new version of ng2-tag-input was 0.8.5.  Then I ran `ng serve` and got an error.  Here is what I got:
[code]

Note: `<project>` is my replace for the prefix of the absolute path

[2017-02-16 07:48] osahner opened #200 "webpack: Failed to compile. (angular-cli latest version)"
[code]

[2017-02-16 09:48] ntfs32 commented on #197
system config：
[code]

module code：
[code]

view code:
[code]

before add view code ,the error get.

[code]

it`s so lang ,thinks

 :) :) :)

[2017-02-16 10:09] osahner commented on #195
Edge/IE11 Error

[code]

[2017-02-16 11:13] Gbuomprisco commented on #200
every angular-cli update breaks everything :( I will have a look soon :)

[2017-02-16 14:17] realappie commented on #159
Any updates on this issue?

[2017-02-16 14:31] Gbuomprisco commented on #159
Hi @realappie,

extending the component won't work with the autocomplete, but works without. At the moment I haven't had a detailed look at this though

[2017-02-16 18:20] joshikeerti commented on #172
I installed the latest version 0.8.5 along with the dropdown version of 0.7.3, however the [appendToBody]='false' did not do anything. When i tried the [appendToBody]='true' , it appended to the body and was showing up under the modal.
I am using material dialog and using the tag with autocomplete in the modal.

[2017-02-16 22:43] Gbuomprisco commented on #172
Hi @joshikeerti,

It's likely that the dropdown is somewhere else in the screen :| I'll test directly with AM2 when I get a chance :)

[2017-02-17 00:39] hheexx opened #202 "0.8.5 broken"
After updating from 0.8.4:

[2017-02-17 09:53] Gbuomprisco commented on #202
Are you running with the cli? if so, which version? thanks

[2017-02-17 10:07] hajekj14 commented on #202
We have same problem with "has no exported member 'DropdownStateService'."
tsc version: 2.0.10
angular-cli: 1.0.0-beta.19-3

downgrade to version 0.8.3 solve this.

[2017-02-17 10:08] Gbuomprisco commented on #202
Ok, thanks. I will try solve it in the weekend 👍

[2017-02-17 11:03] zeus999 commented on #200
@osahner For now you can use older version of ng2-tag-input. I am using version(0.4.4) and its working fine.

[2017-02-17 12:09] hheexx commented on #202
@Gbuomprisco
no CLI.

Webpack@2.2.1
awesome-typescript-loader@3.0.4
ts@2.1.6

[2017-02-19 16:43] Gbuomprisco commented on #202
Hi everyone,

could you try version 0.8.6? I have got it working with angular-cli 1.0.0-beta.32.3, and webpack 2.2.1.

[2017-02-19 16:43] Gbuomprisco commented on #200
Hi everyone,

could you try version 0.8.6? I have got it working with angular-cli 1.0.0-beta.32.3, and webpack 2.2.1.

[2017-02-19 16:44] Gbuomprisco commented on #197
Hi @ntfs32,

it looks like the issue is related to the animations module. Can you post here your package.json dependencies?

[2017-02-19 21:30] hheexx commented on #202
Can you publish it to npm?

[2017-02-19 21:32] Gbuomprisco commented on #202
Hi @hheexx, it should be published already (under the tag `beta`)

[2017-02-20 02:27] ntfs32 commented on #197
[code]

these all,thanks :)

[2017-02-20 09:47] Gbuomprisco commented on #197
Hi @ntfs32,

the angular dependencies are very old. Please update your package.json and reopen if still broken :)

[2017-02-20 09:47] #197 closed

[2017-02-20 13:35] wnabil opened #204 "Not working with universal CLI"
Hello
I was using this before with angular cli and it works but after updating my project to universal cli the compile gives me this error :
`10% building modules 2/2 modules 0 activeError: TagInputModule is not an NgModule
    at AotPlugin.getNgModuleMetadata (/home/orange/Desktop/projects/maker/maker-front/node_modules/@ngtools/webpack/src/plugin.js:332:19)
    at /home/orange/Desktop/projects/m

[2017-02-20 14:27] Gbuomprisco commented on #204
Hi @wnabil,

I've never tried it with Universal. I'll have a look at some point.

[2017-02-20 22:18] dland512 commented on #202
I can confirm that running

`npm i ng2-tag-input@0.8.6 --save`

does install a version that fixes the issues mentioned above.

Nice control btw.

[2017-02-20 22:39] Gbuomprisco commented on #202
Thanks! Closing issue

[2017-02-20 22:39] #202 closed

[2017-02-21 06:48] choYM commented on #200
version 0.8.6 works fine for me...
0.8.5 still have that error msg

[2017-02-21 09:38] Gbuomprisco commented on #200
Use 0.8.6 :) Closing

[2017-02-21 09:38] #200 closed

[2017-02-21 14:07] sichida opened #205 "npmjs.com latest package is 0.8.5"
Hi,

It seems latest packager version on npmjs registery is `0.8.5`(which causes error with angular-cli) : https://www.npmjs.com/package/ng2-tag-input
You may want to update the latest version of your library.

I had an error with `0.8.5` which seems to be resolved in `0.8.6` : http://stackoverflow.com/questions/42368360/how-to-use-gbuomprisco-ng2-tag-input-with-angular-cli

Hope this can help you

[2017-02-22 08:00] babarxm opened #206 "Error in module import"
[at-loader] node_modules/ng2-tag-input/dist/modules/components/dropdown/tag-input-dropdown.component.d.ts:3:36
    Module '"node_modules/ng2-tag-input/dist/node_modules/ng2-material-dropdown/index"' has no exported member 'DropdownStateService'.

[2017-02-22 08:45] djleonskennedy opened #207 "tag-input-dropdown.component.d.ts has no exported member 'DropdownStateService'"
Hello

Have issue with :

[code]

webpack 2

[2017-02-22 08:56] #206 closed

[2017-02-22 08:56] babarxm commented on #207
+1

[2017-02-22 10:24] Gbuomprisco commented on #207
Please check version 0.8.6, I still need to publish another under the tag `latest`

[2017-02-22 10:24] #207 closed

[2017-02-22 18:06] djleonskennedy commented on #207
@Gbuomprisco  thank you

[2017-02-23 07:00] Manikandan-Constient commented on #110
Hey, I'm using Webpack, and I get the following error.

node_modules/ng2-tag-input/dist/node_modules/ng2-material-dropdown/index"' has no exported member 'DropdownStateService'.
node_modules/ng2-tag-input/dist/modules/components/dropdown/tag-input-dropdown.component.d.ts(11,15): error TS2304: Cannot find name 'Ng2Dropdown'.
node_modules/ng2-tag-input/dist/modules/components/dropdown/tag-input-drop

[2017-02-23 09:35] sixmo opened #208 "Using the keyboard, multiple fields get updated"
The issue is as follows:
- There are multiple inputs with a dropdown on one page

Our setup
- Each input has [onlyFromAutocomplete]="true"
- Each dropdown has [showDropdownIfEmpty]="true"

-> The user focuses on the first input (repeat this as many times as you want)
-> The user focuses on the next input and selects an option through the arrow key + enter (using the keyboard is the key here)

=> A

[2017-02-23 09:48] Gbuomprisco commented on #110
Hi @Manikandan-Constient,

can you try version 0.8.6?

[2017-02-24 08:21] gen4sp opened #209 "matchingFn is private now"
please, change to public as documented.

[2017-02-24 09:49] Gbuomprisco commented on #209
PR merged https://github.com/Gbuomprisco/ng2-tag-input/pull/210

[2017-02-24 09:49] #209 closed

[2017-02-24 12:40] dharveshmydeen opened #211 "Bind a string from autocomplete"
I have pass array of items to autocomplete
after select the item it will bind as array of string like [{display:"",value:""}]
i need to bind it as a single string into [(ngModel)]......????

[2017-02-24 13:04] Gbuomprisco commented on #211
Hi @dharveshmydeen,

checkout `modelAsStrings`. set it to `true` and you will be getting strings as model (if this is what you mean, otherwise please explain a little bit better)

[2017-02-24 13:17] dharveshmydeen commented on #211
ya superbbbbb i have already Done it...! Thank you

[2017-02-24 13:34] #211 closed

[2017-02-24 16:54] mtfurlan commented on #110
Moving from 0.8.5 to 0.8.6 worked for me in a webpack based project.
For some reason `npm i --save ng2-tag-input` installed 0.8.5.
Cheers!

[2017-02-24 18:29] Gbuomprisco commented on #110
Yeah, it's still under the tag beta as I didn't know if it worked :)

[2017-02-24 18:29] #110 closed

[2017-02-25 15:45] StephJan opened #212 "Ionic 2 : issue during transpiling"
Hi,

Using the latest Ionic 2 CLI, I get the following error during transpiling:

[code]

As a last resort I tried to add the following to my app.module, but it won't fix the issue:

`import { Ng2DropdownModule } from 'ng2-material-dropdown';`

Is there something I do wrong, or an issue with Ionic 2 maybe ? Thanks for your help.

I

[2017-02-25 17:34] obosha opened #213 "Should work with latest Angular CLI (1.0.0-Beta.26)?"
Trying to use with vanilla project created by Angular-CLI (1.0.0-beta.26) and I get the following error once I have imported TagInputModule -- any thoughts?

ERROR in Error encountered resolving symbol values statically. Only initialized variables and constants can be referenced because the value of this variable is
needed by the template compiler (position 5:22 in the original .ts file), resolvin

[2017-02-25 17:40] Gbuomprisco commented on #213
Hi @obosha,

is that Angular's version, or Angular cli's?

[2017-02-25 17:46] obosha commented on #213
My apologies...   that was the version of NPM I am using.

The version of Angular-CLI I'm using is:  1.0.0-beta.26

On Sat, Feb 25, 2017 at 11:40 AM, Giancarlo Buomprisco <
notifications@github.com> wrote:

[2017-02-25 18:08] Gbuomprisco commented on #213
can you try version 0.8.6?

[2017-02-25 18:15] obosha commented on #213
This works.  So...  apparently I had to specify 0.8.6 explicitly to get that version??  When I installed it an hour ago it gave me 0.8.5.  Did you just update it?

And thank you!  :)   Excited to use your component.

[2017-02-25 18:15] #213 closed

[2017-02-25 18:17] Gbuomprisco commented on #213
it's not under the tag latest so it gives you an older version (as it was not sure if it worked) :)

[2017-02-25 18:26] obosha commented on #213
Ha...   well, it got me past my problem anyway!  Thanks Giancarlo!

[2017-02-25 18:53] obosha opened #214 "Text and "X" not vertically centered"
Please understand, this is a picky comment, I am not complaining.   :)

But the text and "x" in the chip is slightly lower than vertically centered.  Is there a particular CSS property that you know of that would be easy enough for me to adjust the vertical spacing of the content inside the tag?

If not, no big deal...   :)

[2017-02-25 19:12] obosha commented on #214
I can just figure this one out separately.

[2017-02-25 19:12] #214 closed

[2017-02-25 19:14] obosha opened #215 "Keyboard codes for separator keys"
In my testing, I can assign TAB, SPACE as a separator key, but I am not having success adding comma [44] or semi-colon [59]...  is there a known limitation there on those keys specifically?

[2017-02-25 23:00] NicolasHumann opened #216 "Bug: Angular + webpack"
Hi, I have the following issue.
Any tips ?

Unhandled Promise rejection: Animation parse errors:
- Unable to parse the animation sequence for "flyInOut" on the TagInputComponent component due to the following errors:
-- the provided :enter is not of a supported format
-- the provided :leave is not of a supported format ; Zone: <root> ; Task: Promise.then ; Value: Error: Animation parse errors:
- U

[2017-02-26 11:33] Gbuomprisco commented on #216
Hi @NicolasHumann,

It's possible you're running an outdated version. Check the version the package.json.

[2017-02-26 11:33] #216 closed

[2017-02-26 13:09] Gbuomprisco commented on #215
Hi @obosha,

no - there is not limitation really. Can you check the codes are right? I can see that comma is not 44, but 188.

[2017-02-26 13:12] Gbuomprisco commented on #205
Added 0.8.7 to NPM :)

[2017-02-26 13:12] #205 closed

[2017-02-26 13:12] Gbuomprisco commented on #212
Hi, sorry, I've never tested on Ionic. Can you try version 0.8.7 though? Thanks

[2017-02-26 14:01] StephJan commented on #212
Upon installation I get

`ng2-tag-input@0.8.7 requires a peer of @angular/core@^2.4.0 `

while

`@angular/compiler@2.2.1 requires a peer of @angular/core@2.2.1`

I admit being a little lost in those dependencies ....

[2017-02-26 14:04] Gbuomprisco commented on #212
try upgrading all angular dependencies > 2.4.0 :) (see my package.json)

[2017-02-26 14:08] StephJan commented on #212
I tried, but then Ionic complains A LOT :)

[2017-02-26 14:28] StephJan commented on #212
Any chance ng2-tag-input is made backward-compatible with @angular/xxx@2.2.1 ?

[2017-02-26 14:28] Gbuomprisco commented on #212
does it complain about this particular component or others? this one won't work anyway unless you upgrade your angular packages :|

[2017-02-26 14:30] obosha commented on #215
Interesting, I will check.  The chart I got off Google said 44 for comma.
Do you have a link to the codes you're looking at?

On Feb 26, 2017 7:09 AM, "Giancarlo Buomprisco" <notifications@github.com>
wrote:

[2017-02-26 14:31] StephJan commented on #212
It doesn't complain, but all transpilings fail after update, so for the time being I guess I'm stuck with 2.2.1.

Any chance ng2-tag-input is made backwards-compatible with Angular 2.4.1 so it works with latest Ionic out of the box ?

[2017-02-26 14:31] Gbuomprisco commented on #215
using https://css-tricks.com/snippets/javascript/javascript-keycodes

[2017-02-26 15:10] obosha commented on #215
I was assuming ASCII codes, my bad!  Thanks Giancarlo, it works great!

[2017-02-26 15:10] #215 closed

[2017-02-26 15:44] obosha opened #218 "QUESTION: Custom template"
Hey Giancarlo, I'm wondering if you wouldn't mind explaining the custom template a little bit further.  I'm happy to take this offline too.

- What does '#input' represent when creating a custom template?  Is this a special NG2 syntax?
- In your example custom template, you call 'input.removeItem(x, x)' but I can't find where "removeItem()" is implemented?

I feel like I'm missing some "glue".   :

[2017-02-26 15:50] obosha commented on #218
I feel like an idiot, I was looking at tag.component.ts and not tag-input.component.ts.
And I see that "#input" is a special NG2 syntax for templating.

I found the events now.   Apologies.

[2017-02-26 15:50] #218 closed

[2017-02-26 16:08] obosha opened #219 "QUESTION: Template assignment"
What does the !! do in your template property assignment?

[template]="!!hasCustomTemplate() ? templates.first : undefined"

I can't find any documentation on !! being an operator of any kind.

[2017-02-26 18:16] Gbuomprisco commented on #219
It transforms an expression into a boolean :)

[2017-02-26 18:16] #219 closed

[2017-02-26 20:13] StephJan commented on #212
Hi,

After a little research, I confirm that upgrading to latest version of depencies is not possible, due to well-known limitations.

a "npm outdated" and a freshly updated Ionic project returns the following:

$ npm outdated

[code]

So I guess ng2-tag-input is out of question for the time being for any Ionic 2 project :(

[2017-02-26 21:21] Gbuomprisco commented on #212
You could try with version 0.4.8? It doesn't have the latest stuff but should be fine if you need a basic tag-input.

[2017-02-26 21:44] avatsaev opened #220 "ERROR in Error encountered resolving symbol values statically."
Getting this error at compile time with latest Angular CLI (rc.0)

[2017-02-26 22:04] StephJan commented on #212
I'll give it a try ... does it have autocomplete ?

[2017-02-27 12:59] youneschaoui commented on #220
same here

[2017-02-27 13:20] obosha commented on #219
Forgive my ignorance...   is that a javascript thing?  Or Angular specific
syntax?  I can't find any documentation doing just a basic Google search on
"!!".

On Sun, Feb 26, 2017 at 12:16 PM, Giancarlo Buomprisco <
notifications@github.com> wrote:

[2017-02-27 14:53] Gbuomprisco commented on #219
No, it's plain Javascript. It's more of a hack though, not a real "feature", it's like saying NOT NOT <expression>. Indeed, you convert an expression into a boolean, and then you do it again.

So:
- !!'' = false;
- !!'a' =  true;
- !!undefined = false;

I suggest you to check out the stack overflow link :)

[2017-02-27 14:55] obosha commented on #219
Thanks for the explanation...   always learning even after 20+ years!   :)

On Mon, Feb 27, 2017 at 8:53 AM, Giancarlo Buomprisco <
notifications@github.com> wrote:

[2017-02-27 18:26] gen4sp commented on #220
same

[2017-02-27 19:49] mtfurlan opened #221 "Cannot find name 'Ng2Dropdown' (again)"
So in [issue 110](https://github.com/Gbuomprisco/ng2-tag-input/issues/110#issuecomment-281945599) it was mentioned that going from version `0.8.6` to  `0.8.6` should fix this issue of not being able to find `Ng2Dropdown` from `ng2-material-dropdown`

That worked for me three days ago.

Today, a different team member started work on the project, and they had the issue again.
I thought this was odd,

[2017-02-27 20:45] Gbuomprisco commented on #221
Possibly related to https://github.com/angular/angular-cli/issues/3674 (I can reproduce with the cli, not with the webpack config in the repo)

[2017-02-27 20:45] Gbuomprisco commented on #220
Possibly related to https://github.com/angular/angular-cli/issues/3674

[2017-02-28 03:21] dland512 commented on #221
For anyone running into this issue, it seems to go away if you roll ng2-tag-input back to version 0.8.6 (assuming that's an option for you).

[2017-02-28 07:34] gen4sp commented on #221
I am on 0.8.6

[2017-02-28 08:29] z--aszlo commented on #188
I think this issue is resolves as after doing again an npm install of this package, the matching does work. Only that know I get this error now at compile time coming from the updated ng-tag-input:

ERROR in Error encountered resolving symbol values statically. Only initialized variables and constants can be referenced because the value of this variable is needed by the template compiler (position

[2017-02-28 09:32] Gbuomprisco commented on #188
Hi @z--aszlo,

see https://github.com/Gbuomprisco/ng2-tag-input/issues/220

[2017-02-28 09:32] #188 closed

[2017-02-28 09:35] Gbuomprisco commented on #220
Will have a deeper look later this evening, but right now I have no clue what's up here :|

[2017-02-28 09:39] z--aszlo commented on #220
same here after an update, before it didn't had this problem.

[2017-02-28 09:40] Gbuomprisco commented on #220
just a note: the difference between 0.8.6 and 0.8.7 is just a dev-dependency update, so I am inclined to think that the issue is related to an update in the tooling

[2017-02-28 09:44] avatsaev commented on #220
I see that you are not using yarn to manage your dependencies, could you maybe lock your dependencies with yarn.lock, this will help to avoid a lot of issues in the future. https://yarnpkg.com/en/

[2017-02-28 09:46] Gbuomprisco commented on #220
Hi @avatsaev,

Yeah I'll consider that :). But the tooling issue in question is not in the repository, but in users' repositories.

[2017-02-28 09:47] avatsaev commented on #220
Yes, and I'm pretty sure Angular Team are at it again with their shenanigans on Angular CLI. But better investigate to be sure, I'll try to look into it too this evening.

[2017-02-28 09:51] Gbuomprisco commented on #220
very appreciated, thanks @avatsaev!

[2017-02-28 10:38] sixmo opened #222 "option to skip dropdown after adding an item"
We'd like an option that prevents opening the dropdown again after adding or removing an item. Specifically for Tags accepting only items from an autocomplete.

Thanks heaps!!

[2017-02-28 15:42] mtfurlan commented on #221
For the seed I linked, `0.8.6` still has this error.

[2017-02-28 15:46] Gbuomprisco commented on #221
just a note: the difference between 0.8.6 and 0.8.7 is just a dev-dependency update, so I am inclined to think that the issue is related to an update in the tooling (copy/paste from another ticket, likely the same issue but with different stacktrace)

[2017-03-02 06:10] fahad-nxvt commented on #221
0.8.7 has the same error. Any update on this?

[2017-03-02 06:23] gen4sp commented on #221
set "0.8.6." instead of "^0.8.6" fix for me
but waiting for an update

[2017-03-02 06:28] fahad-nxvt commented on #221
It helped. Solved the issue for now. Thanks.

[2017-03-02 10:00] Ignasimg commented on #202
seems to be broken again in 0.8.7, downgrading to 0.8.6 works fine.

[2017-03-02 10:50] 4nandP commented on #222
I was just about to ask for this myself.
**+1 for this feature.**

[2017-03-02 14:30] Ignasimg opened #223 "Keycodes bug & design issue"
On adding the comma keycode: 188 as a separator.
Hitting backspace also triggers the entrance.

This is probably a bug that'll be very nice to solve.

But as a sidenote and I feel that this might be even more important than the mentioned bug, using keycode as the parameter to choose whether to split or not is a bad design.
Since for the first it is system dependant and for the second (and this is

[2017-03-02 14:48] Gbuomprisco commented on #223
Hi @Ignasimg,

the first is definitely a bug, will look into it.

About the second point, I understand why you disagree with the design. In principle, I basically inspired all the API from md-chips https://material.angularjs.org/latest/api/directive/mdChips.
I will look into this too, but in terms of priority it's not on the top of my list (as no one has complained yet except in this instance). Ho

[2017-03-03 05:47] 4nandP commented on #161
For those of us who need a workaround, what did you do in webpack Tomislav?

[2017-03-03 07:12] vikashk1 commented on #202
Yes it is broken again in 0.8.7 :(

[2017-03-03 15:26] khuang-va opened #224 "AoT complains about private properties in the components"
I got a lot of angular2 compiler errors talking about accessing private properties.
[code]

It seems some elements in component template are binding to private methods, which violates
`Inputs, Outputs, View or Content Child(ren), Hostbindings, and any field you use from the template or annotate for Angular should be public.`

screenshot:
![image](https://cloud.githubusercontent.com/assets/19170625

[2017-03-03 15:56] AVatch commented on #220
+1 here encountering the same issue - this project is awesome, but the angular cli requirements have become a big blocker right now :/

[2017-03-03 15:58] Gbuomprisco commented on #220
I know - sorry, things keep changing in Angular 2. I'll try sort things out this weekend (and likely the next one, and the next one, and so on :)

[2017-03-04 11:05] Gbuomprisco commented on #224
Hi @khuang-va,

Thanks for reporting. Could you check version 0.8.8? Thanks!

[2017-03-04 11:06] Gbuomprisco commented on #220
Hi everyone,

I released version 0.8.8. Can you check it works? It works for me, with angular-cli 1.0.0-beta.32.3. Fingers crossed.

[2017-03-04 11:06] Gbuomprisco commented on #221
Hi everyone,

I released version 0.8.8. I could not reproduce this issue, but it fixed https://github.com/Gbuomprisco/ng2-tag-input/issues/220, so maybe give it a try? Thanks

[2017-03-04 11:18] avatsaev commented on #220
Just tried it, everything is green on my side, AOT compilation also works.

I'd wait for confirmations from others before closing to make sure that there are no side effects, but seems like it's working fine now, good job!

[2017-03-04 11:44] Gbuomprisco commented on #222
Submitting a change of behaviour. Just FYI the option causing that is `showDropdownIfEmpty` (I'll make 2 separate examples as I understand the confusion here)

[2017-03-04 16:52] AVatch commented on #220
Works for me too ! thanks

[2017-03-05 00:16] ManojlovicMilos commented on #224
Still not working.
I too had same problem. Was in a bit of a rush so I hotfixed it ng2-tag-input-fix fork (very fast, very dirty).
But I'd prefer it fixed on this package.

Thanks.

[2017-03-05 14:35] djleonskennedy commented on #195
hello, https://www.browserstack.com/accounts/subscriptions has free plan for open source.
you can contact with them and get free license for testing in all browsers

[2017-03-05 19:42] sergot opened #227 "demo doesn't work"
looks like the demo doesn't work

`The reason you see this page is that the route is invalid. You have probably clicked an old Webpackbin link. Please notify the author about moving their BIN to the new version of Webpackbin. In the meantime you can continue to the old version.`

can't really reach the old version tho :(

[2017-03-05 21:29] Gbuomprisco commented on #227
https://github.com/christianalfoni/webpack-bin/issues/226 Hopefully gets solved soon

[2017-03-05 21:55] sergot commented on #227
Oh, didn't notice this one!

[2017-03-06 09:00] Gbuomprisco commented on #227
Reopening for reference :)

[2017-03-06 09:02] Gbuomprisco commented on #220
closing :)

[2017-03-06 09:02] #220 closed

[2017-03-06 16:45] khuang-va commented on #224
Hey @Gbuomprisco,

Thank you for your reply. I still got some private property errors.

![image](https://cloud.githubusercontent.com/assets/19170625/23619671/0125d4ec-025a-11e7-83d8-88d66b1691cf.png)

[2017-03-06 17:39] mtfurlan commented on #221
Seems to work fine now, cheers!
If it pops up again I'll come back with a working example in a docker container that can be replicated on other computers...

[2017-03-06 17:39] #221 closed

[2017-03-06 18:40] dougludlow opened #229 "Autocomplete - don't show selected items"
Is is possible under the current api to limit the autocomplete items by only those that are not currently selected? For example, if I populate the autocomplete items with a list of "apple", "orange" and "banana" and then choose "apple", the autocomplete list should only show "orange" and "banana".

[2017-03-06 19:54] sh4ddow opened #230 "this._onChangeCallback is not a function"
Everything works great until I select item. Then it throw exception `this._onChangeCallback is not a function`.

Basic example doesnt work for me:

    <tag-input>
        <tag-input-dropdown
                [autocompleteItems]="['iTem1', 'item2', 'item3']"
                [appendToBody]="false">
        </tag-input-dropdown>
    </tag-input>

package.json:

    {
      "name": "blog",
      "vers

[2017-03-06 20:18] Gbuomprisco commented on #229
Hi @dougludlow,

no, not yet. :)

[2017-03-06 20:19] Gbuomprisco commented on #230
Hi @sh4ddow,

you need to define a model.

[2017-03-06 20:19] #230 closed

[2017-03-07 07:11] abadakhshan opened #231 "Cannot read property 'focus' of undefined"
I use tag-input with
  <tag-input-dropdown [showDropdownIfEmpty]="true"
                                        [autocompleteObservable]='requestAutocompleteItems'>
                    </tag-input-dropdown>

sometimes after i select tag from loaded dropdown, i cant add another tag
and i get this exception:

`TypeError: Cannot read property 'focus' of undefined
    at Ng2DropdownState.select (eval

[2017-03-07 10:03] tfont commented on #227
+1 for this. Would be nice if fixed!

[2017-03-07 12:03] BroGrammerStastic opened #232 "Clear all tags on button click"
I'd like to remove all tags on button click, what do I need to target in order to clear all the tags?

Currently I'm targeting tag-triplet input, but it doesn't work.

Thanks

[2017-03-07 14:39] Gbuomprisco commented on #232
If you use two-way data binding, I think you could just empty the model.

[2017-03-07 14:39] #232 closed

[2017-03-07 15:54] okapusta opened #233 "After upgrade to 0.8.8 source map is missing"
[code]

[2017-03-07 20:00] SystemDisc commented on #227
Another +1 from me. What's the correct link? I can put in a PR if necessary

[2017-03-07 20:04] Gbuomprisco commented on #227
Basically I need to put the code on the new webpackbin version: I've already spoken to its creator and the old links won't work. When I tried to create a new bin though I put webpackbin down. Maybe I'll need to put a demo elsewhere.

[2017-03-07 20:25] SystemDisc commented on #227
Perhaps we can create a ng2-tag-input-demo repo, setup webpack, and use the [gh-pages-webpack-plugin](https://www.npmjs.com/package/gh-pages-webpack-plugin) plugin - or something similar.

[2017-03-07 23:09] Gbuomprisco commented on #227
Long term yes, will definitely make sense. for now I re-created the bin here https://www.webpackbin.com/bins/-KeezCRlhoyASSV6j_oB. At the moment it is not working, I think it's still extracting the packages...let's see

[2017-03-08 11:48] Gbuomprisco commented on #227
I retried today, no luck. For the time being a demo with limited options is here http://www.buompris.co/ng2-tag-input/

[2017-03-08 17:47] dougludlow commented on #229
@Gbuomprisco thanks. I was able to come up with a workaround. I simply filter the autocomplete list based on the selected values before passing it into the `tag-input-dropdown`. Something like the following:

[code]

[code]

[2017-03-08 17:51] #229 closed

[2017-03-09 10:36] Gbuomprisco commented on #222
Hi @sixmo and @4nandP,

this should now be OK on the new version. It will still show up the dropdown after you remove a tag, it was a bit tricky, but I'll try adjusting that too. FYI there is no new option, it is the default behaviour.

[2017-03-09 11:49] #227 closed

[2017-03-09 11:49] Gbuomprisco commented on #224
Hi guys,

this was fixed by a contributor. Can you still reproduce? Thanks

[2017-03-09 11:50] Gbuomprisco commented on #186
This should have been added :)

[2017-03-09 11:50] #186 closed

[2017-03-09 11:51] Gbuomprisco commented on #223
Hm, I don't seem able to reproduce anymore the first issue

[2017-03-09 11:51] #112 closed

[2017-03-09 14:41] Gbuomprisco commented on #193
Added a theme which contains the standard bootstrap colors :)

[2017-03-09 14:41] #193 closed

[2017-03-09 14:52] ManojlovicMilos commented on #224
I still get errors because of ng2-material-dropdown dependency.
![image](https://cloud.githubusercontent.com/assets/21346598/23755356/60a3f5d8-04e0-11e7-86e8-d92fa3edb925.png)

[2017-03-09 15:12] Gbuomprisco commented on #224
This should hopefully fix it https://github.com/Gbuomprisco/ng2-tag-input/pull/237

[2017-03-09 15:39] Gbuomprisco commented on #224
Published. Fingers crossed now!

[2017-03-09 18:22] ManojlovicMilos commented on #224
Hi, thanks for quick action and reply.

There is still one more issue:
Property 'scrollListener' is private and only accessible within class 'TagInputDropdown'

[2017-03-09 18:26] ManojlovicMilos commented on #224
It appears that problem is from ng2-tag-input
From tag-input-dropdown.component.ts file:
private scrollListener(): void{ ..

[2017-03-10 03:27] markphillips100 opened #238 "Angular universal prerendering fails due to dependencies on KeyboardEvent"
I have an angular 2 universal project similar to [https://github.com/MarkPieszak/aspnetcore-angular2-universal](https://github.com/MarkPieszak/aspnetcore-angular2-universal).  I've added the module which works fine with universal disabled.  When I enable the universal behaviour the pre-rendering is failing with the following error:

"Prerendering failed because of error: ReferenceError: KeyboardEv

[2017-03-10 09:38] Gbuomprisco commented on #238
I should implement DI swapping as described here https://github.com/angular/universal/blob/master/DOCUMENTATION.md#diswap -  I am afraid there is not much doable on your side at the moment

[2017-03-10 10:08] ygamretuta opened #239 "Cannot pass data to tag-input-dropdown"
probably a thing on scopes. how exactly do you do this:

I need some data from the parent component. How do I access them from the `autocompleteObservable` callback  of the `tag-input-dropdown` ?

[2017-03-10 10:18] Gbuomprisco commented on #239
Hi @ygamretuta,
do you have some code that can help me understand what you mean better?

[2017-03-10 11:31] #239 closed

[2017-03-10 11:34] ygamretuta opened #240 "response format of autocomplete observable"
Can you help me out with this one? I do not know how the response of the autocomplete observable is supposed to look like. I've tried array of strings and array of objects({display:'', value: ''}) but still it won't render the dropdown

[code]

[2017-03-10 11:39] Gbuomprisco commented on #240
An Array of strings or an Array of objects. Use displayBy and identifyBy to define key and value (or just use displayBy and identifyBy if you're fine with these keys)

[2017-03-10 11:43] ygamretuta commented on #240
I tried an array of strings:

[code]

![screen shot 2017-03-10 at 7 42 22 pm](https://cloud.githubusercontent.com/assets/154738/23794164/bf2e263e-05c9-11e7-806f-d3a48d08f348.png)

but still won't render :(

[2017-03-10 11:45] Gbuomprisco commented on #240
no, you're returning a Response. :)

[2017-03-10 11:51] ygamretuta commented on #240
works now. thanks

[2017-03-10 11:51] #240 closed

[2017-03-10 19:07] omprakash9 opened #241 "EXCEPTION: Cannot read property 'toString' of undefined"
Hi,

Getting an error when I upgraded ng2-tag-input from version 0.7.4 to 0.9.2 and ng2-material-dropdown from 0.6.9 to 0.7.4 Please find the attachment to see the full error.  while I'm in the older versions it worked fine, but as soon as i upgraded the versions to latest one. it was throwing me an error EXCEPTION: Cannot read property 'toString' of undefined.  Is there a solution otherthan downg

[2017-03-11 06:21] khuang-va commented on #224
[code]
This is the only thing complaining by compiler now. 😆

[2017-03-11 08:07] elhoo commented on #172
I can confirm using version 0.9.2 that using [appendToBody]='false' makes the dropdown appears on the wrong place on the screen (however, it is now visible on my modal dialog).

[2017-03-11 13:39] Gbuomprisco commented on #241
https://github.com/Gbuomprisco/ng2-tag-input/pull/242 should fix it thanks to @vadim82

[2017-03-12 05:33] rnirushan opened #243 "Firefox, IE and Edge support - remove tags by backspace button not working"
This tag input works fine in chrome. But I encountered this backspace button issue in firefox, IE and Edge. The issue raises, when moving from first page to second page (which contains tag input) and remove a tag using backspace button, it doesn't remove tag instead it goes back to the previous page(first page). (it is firing the browser back button event.)

steps to reproduce this issue.
in firef

[2017-03-12 07:23] arturocr opened #244 "Dropdown positioning acting weird"
I've noticed a weird issue with the positioning of the dropdown when there are autocomplete items, I start typing and it starts to filter the items, but at a specific point the dropdown stays away of the input field even when there are just two options, if I hover the dropdown with the mouse or continue typing the position gets fixed.
Here is an example of the problem:
![screen recording 2017-03-1

[2017-03-12 11:20] #222 closed

[2017-03-12 12:52] Gbuomprisco commented on #244
Publishing a new version soon for this

[2017-03-12 12:52] Gbuomprisco commented on #241
The fix should now be published!

[2017-03-12 12:52] #241 closed

[2017-03-12 12:54] Gbuomprisco commented on #243
Hi @rnirushan,

it seems to be the browser's default behaviour. I'll see if adding preventDefault() would fix it.

[2017-03-12 12:55] Gbuomprisco commented on #238
Hi @markphillips100,

I hacked the issue a little. I am afraid some event might still be in `ng2-material-dropdown`. Can you check version 0.9.5 and see if it works?

[2017-03-12 13:26] rnirushan commented on #243
Yes it's browser's default behaviour. Thank you for your fast reply.

[2017-03-12 16:05] ManojlovicMilos commented on #224
It works perfectly now 👍

[2017-03-12 16:08] #224 closed

[2017-03-12 21:23] markphillips100 commented on #238
That worked fine for me.  Thank you very much.

[2017-03-12 21:34] Gbuomprisco commented on #238
cool :) closing issue

[2017-03-12 21:34] #238 closed

[2017-03-12 21:34] Gbuomprisco commented on #161
https://github.com/Gbuomprisco/ng2-tag-input/issues/238#issuecomment-285977810

[2017-03-12 21:34] #161 closed

[2017-03-13 01:27] neilharding opened #248 "addOnBlur breaks autocomplete selection"
Tested this with version 0.9.5

When setting addOnBlur to true and with autocomplete options supplied ... when I start typing and it matches one or more autocomplete and I either move the mouse cursor down to select one or I use the down arrow keys to select one, the autocomplete dropdown disappears and my input it cleared.

Looking at the code it seems like the this.inputForm.onBlur is firing bec